# Pandas Practice Questions

In [ ]:
import numpy as np
import pandas as pd
print(pd.__version__)

# Series

1. Write program to convert a list into Series

In [ ]:
given_list = [2, 4, 5, 6, 9]

series = pd.Series(given_list)

print(series)

In [ ]:
print("Convert Pandas Series to Python list")
print(series.tolist())
print(type(series.tolist()))


3. For a given series, chnage the default index into odd index only

In [ ]:
given_list = [2, 4, 5, 6, 9]

series = pd.Series(given_list, index = [1, 3, 5, 7, 9])

print(series)

4. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

In [ ]:
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 9])
ds = ds1 + ds2
print("Add two Series:")
print(ds)
print("Subtract two Series:")
ds = ds1 - ds2
print(ds)
print("Multiply two Series:")
ds = ds1 * ds2
print(ds)
print("Divide Series1 by Series2:")
ds = ds1 / ds2
print(ds)

5. Write a Pandas program to compare the elements of the two Pandas Series.

In [ ]:
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 10])
print("Series1:")
print(ds1)
print("Series2:")
print(ds2)
print("Compare the elements of the said Series:")
print("Equals:")
print(ds1 == ds2)
print("Greater than:")
print(ds1 > ds2)
print("Less than:")
print(ds1 < ds2)

6. Write a Pandas program to convert a dictionary to a Pandas series.

In [ ]:
d1 = {'a': 100, 'b': 200, 'c':300, 'd':400, 'e':800}
print("Original dictionary:")
print(d1)
new_series = pd.Series(d1)
print("Converted series:")
print(new_series)

7. Write a Pandas program to change the data type of given a column or a Series.

In [ ]:
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series:")
print(s1)
print("Change the said data type to numeric:")
s2 = pd.to_numeric(s1, errors='coerce')
print(s2)

8. Write a Pandas program to convert the first column of a DataFrame as a Series.

In [ ]:
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
s1 = df.iloc[:,0]
print("\n1st column as a Series:")
print(s1)
print(type(s1))

9. Write a Pandas program to convert a given Series to an array.

In [ ]:
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series:")
print(s1)
print("Series to an array")
a = np.array(s1.values.tolist())
print (a)

10. Write a Pandas program to convert Series of lists to one Series.

In [ ]:
s = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])
print("Original Series of list")
print(s)
s = s.apply(pd.Series).stack().reset_index(drop=True)
print("One Series")
print(s)

11. Create a pandas series from each of the items below: a list, numpy and a dictionary Input

In [ ]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
ser3 = pd.Series(mydict)

print(ser1.head())
print(ser2.head())
print(ser3.head())

12. Create a dataframe by joining more series

In [ ]:
df = pd.concat([ser1, ser2], axis=1)

df = pd.DataFrame({'col1': ser1, 'col2': ser2})
print(df.head())

Sometimes we have two or more series and we have to find all those elements that are present in one series but not in other. We can do this easily, using the **Bitwise NOT operator** along with the **pandas.isin() function.**

13. Program to create 2 integer Series and find all those elements of series 1 that are not present in series 2

In [ ]:
# Creating 2 pandas Series
ps1 = pd.Series([2, 4, 8, 20, 10, 47, 99])
ps2 = pd.Series([1, 3, 6, 4, 10, 99, 50])
  
print("Series1:")
print(ps1)
print("\nSeries2:")
print(ps2)
  
# Using Bitwise NOT operator along
# with pandas.isin()
print("\nItems of ps1 not present in ps2:")
res = ps1[~ps1.isin(ps2)]
print(res)

In [ ]:
# we take 2 pandas series of int type ‘ps1‘ and ‘ps2‘ and find all those elements of ps1 that are not present in ps2.

14. Program to create 2 float Series and find all those elements of series 1 that are not present in series 2

In [ ]:
# Creating 2 pandas Series 
ps1 = pd.Series([2.8, 4.5, 8.0, 2.2, 10.1, 4.7, 9.9])
ps2 = pd.Series([1.4, 2.8, 4.7, 4.8, 10.1, 9.9, 50.12])
  
print("Series1:")
print(ps1)
print("\nSeries2:")
print(ps2)
  
# Using Bitwise NOT operator along 
# with pandas.isin()
print("\nItems of ps1 not present in ps2:")
res = ps1[~ps1.isin(ps2)]
print(res)

15. Program to create 2 String Series and find all those elements of series 1 that are not present in series 2

In [ ]:
# Creating 2 pandas Series
ps1 = pd.Series(['Monu', 'Sonu', 'Tonu', 'Nonu',
                 'Ronu', 'Bonu'])
  
ps2 = pd.Series(['Sweetu', 'Tweetu', 'Nonu',
                 'Micku', 'Bonu', 'Kicku'])
  
print("Series1:")
print(ps1)
print("\nSeries2:")
print(ps2)
  
# Using Bitwise NOT operator along with
# pandas.isin()
print("\nItems of ps1 not present in ps2:")
res = ps1[~ps1.isin(ps2)]
print(res)

16. Program to create a new series that combines all elements in the given 2 series

In [ ]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
ser_u = pd.Series(np.union1d(ser1, ser2)) 
ser_u

17. Program to create a new series that contains common elements of the given 2 series

In [ ]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser_i = pd.Series(np.intersect1d(ser1, ser2))
ser_i

18. How to extract items at given positions from a series?

In [ ]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))

pos = [0, 4, 8, 14, 20]
ser.take(pos)

#The take () function is used to get the elements in the given positional indices along an axis.

19. How to convert the first character of each element in a series to uppercase?

In [ ]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
ser.map(lambda x: x.title())

In [ ]:
ser.map(lambda x: x[0].upper() + x[1:])

In [ ]:
pd.Series([i.title() for i in ser])

20. How to calculate the number of characters in each word in a series?

In [ ]:
ser.map(lambda x: len(x))

21. Write a Pandas program to sort a given Series.

In [ ]:
s = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series:")
print(s)
print("\n")
new_s = pd.Series(s).sort_values()
print(new_s)

22. Write a Pandas program to add some data to an existing Series.

In [ ]:
s = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series:")
print(s)
print("\n")
print("\nData Series after adding some data:")
new_s = s.append(pd.Series(['500', 'php']))
print(new_s)

23. Write a Pandas program to create a subset of a given series based on value and condition.

In [ ]:
s = pd.Series([0, 1,2,3,4,5,6,7,8,9,10])
print("Original Data Series:")
print(s)
print("\n")
print("\nSubset of the above Data Series:")
n = 6
new_s = s[s < n]
print(new_s)

24. Write a Pandas program to change the order of index of a given series.

In [ ]:
s = pd.Series(data = [1,2,3,4,5], index = ['A', 'B', 'C','D','E'])
print("Original Data Series:")
print(s)
print("\n")
s = s.reindex(index = ['B','A','C','D','E'])
print("Data Series after changing the order of index:")
print(s)

25. Write a Python program to add, subtract, multiple and divide two Pandas Series.

In [ ]:


x = pd.Series([0,1,5,1])
print(x)

y = pd.Series([1,4,8,2])
print(y)

add = x + y
print(add)

subtract = x - y
print(subtract)

multiply = x * y
print(multiply)

divide = x / y
print(divide)

26. Write a Pandas program to compare the elements of the two Pandas Series.

In [ ]:

x = pd.Series([0,4,5,1])
print(x)

y = pd.Series([1,4,8,2])
print(y)

print(x == y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

27. Write a Python program to change the data type of a given column or a Series.

In [ ]:
x = pd.Series(['0','4.05','591.4','Python'])
print(x)

print(pd.to_numeric(x, errors ='coerce'))

28. Write a Python Pandas program to convert the first column of a DataFrame as a Series.

In [ ]:
x = pd.DataFrame({'Col1':['0','4.05','591.4','23'], 'Col2':['0.2','4.0','592','26'], 'Col3':['10','45','594','31']})
print(x)
                  
print(x.iloc[:,0])

29. Write a Pandas program to convert a given Series to an array.

In [ ]:
x = pd.Series(['0','4.05','591.4','Python'])
print(x)

print(np.array(x))

30. Write a Pandas program to convert Series of lists to one Series.

In [ ]:
x = pd.Series([[1,4,5],[5,6,1],[8,0,9]])
print(x)

print(x.apply(pd.Series))
print(x.apply(pd.Series).stack())
print(x.apply(pd.Series).stack().reset_index(drop = True))

31. Write a Pandas program to sort a given Series.

In [ ]:
x = pd.Series([1,4,5,8,0,9])
print(x)

print(x.sort_values())

32. Write a Pandas program to add some data to an existing Series.

In [ ]:
x = pd.Series([1,4,5,8,0,9])
print(x)

print(x.append(pd.Series([7,6,5])))

33. Write a Pandas program to create a subset of a given series based on value and condition.

In [ ]:
x = pd.Series([1,4,5,8,0,9])
print(x)

x_subset = x[x < 8]
print(x_subset)

34. Write a Pandas program to change the order of index of a given series.

In [ ]:
x = pd.Series(data=[4,5,6,0,1,2,7], index=['A','B','C','D','E','F','G'])
print(x)

print(x.reindex(index=['F','B','A','D','E','G','C']))

35. Write a Pandas program to create the mean and standard deviation of the data of a given Series.

In [ ]:
x = pd.Series([1,4,5,8,0,9])
print(x)

print("\n")
print("Mean for the given series: ",x.mean())
print("Standard Deviation for the given series:", x.std())

36. Write a Pandas program to get the positions of items of a given series in another given series.

In [ ]:
x = pd.Series([1,14,5,0,9,4,5,0,17,25,10])
print(x)

y = pd.Series([1,0,4,17,25,10])
print(y)

z = [pd.Index(x).get_loc(i) for i in y]
print(z)

36. Write a Pandas program convert the first and last character of each word to upper case in each word of a given series

In [ ]:
x = pd.Series(['ankur','chetna','neelima','akhil','anupriya','mohit'])
print(x)

y = x.map(lambda i: i[0].upper() + i[1:-1] + i[-1].upper())
print(y)

37. Write a Pandas program to calculate the number of characters in each word in a given series.

In [ ]:
x = pd.Series(['ankur','chetna','neelima','akhil','anupriya','mohit'])
print(x)

print(x.map(lambda i: len(i)))

38. Write a Pandas program to convert a series of date strings to a timeseries.

In [ ]:
x = pd.Series(['09 Feb 2020', '12/01/2020', '21-03-2020', '30 Apr 2020 11:40'])
print(x)

print(pd.to_datetime(x))

39. Write a Pandas program to get the day of month, day of year, week number and day of week from a given series of date strings.

In [ ]:
dateSeries = pd.Series(['09 Feb 2020', '12/01/2020', '21-03-2020', '30 Apr 2020 11:40'])
print(dateSeries)

#parse from dateutil.pareser will help to parse the different formats of date
from dateutil.parser import parse

#map function will return a map object (an iterator) of the results after applying the given function to each item
dateSeries = dateSeries.map(lambda x: parse(x))
print(dateSeries)

print("Day of month", dateSeries.dt.day.tolist())
print("Day of year", dateSeries.dt.dayofyear.tolist())
print("Week number", dateSeries.dt.weekofyear.tolist())
print("Day of week", dateSeries.dt.weekday.tolist())

In [ ]:
pwd

40. Write a Pandas program to convert year-month string to dates adding a specified day of the month.

In [ ]:
yearMonth = pd.Series(['Jan 2020', 'April 2019', 'December 2017'])
print(yearMonth)

print(yearMonth.map(lambda x: parse(x)))
print(yearMonth.map(lambda x: parse('10' + x)))

# Dataframe

1. Write a Pandas program to get the powers of an array values element-wise.

In [ ]:
sample = {'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]}
sample_df = pd.DataFrame(sample)
print(sample_df)

2.  Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.

In [ ]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df_exam_data = pd.DataFrame(exam_data, labels)
print(df_exam_data)

3. Write a Pandas program to select the 'name' and 'score' columns from the following DataFrame.

In [ ]:
#Method1:
df_exam_data.iloc[:,:2]

#Method2:
df_exam_data[['name','score']]

4. Write a Pandas program to select the specified columns and rows from a given data frame.

In [ ]:
#any specified columns and rows
df_exam_data.iloc[[1,2,6],[2,3]]

5. Write a Pandas program to select the rows where the number of attempts in the examination is greater than 2.

In [ ]:
df_exam_data[df_exam_data['attempts'] > 2]

6. Write a Pandas program to count the number of rows and columns of a DataFrame.

In [ ]:
#To get the names of rows and columns, that is, names in axes
print(df_exam_data.axes)

#Number of axes
print(len(df_exam_data.axes))

#Number of rows 
print(len(df_exam_data.axes[0]))

#Number of columns
print(len(df_exam_data.axes[1]))

7. Write a Pandas program to select the rows where the score is missing, i.e. is NaN.

In [ ]:
#first checking which values are NaN and then returning those rows
df_exam_data[df_exam_data['score'].isnull()]

8. Write a Pandas program to select the rows the score is between 15 and 20 (inclusive).

In [ ]:
#Method1:
df_exam_data[df_exam_data['score'].between(15,20)]

#Method2:
df_exam_data[(df_exam_data['score'] >= 15) & (df_exam_data['score'] <= 20)]

9. Write a Pandas program to select the rows where number of attempts in the examination is less than 2 and score greater than 15.

In [ ]:
df_exam_data[(df_exam_data['score'] > 15) & (df_exam_data['attempts'] <2)]

10. Write a Pandas program to change the score in row 'd' to 11.5.

In [ ]:
#loc gets rows (or columns) with particular labels from the index. 
#iloc gets rows (or columns) at particular positions in the index (so it only takes integers).
df_exam_data.loc['d','score'] = 11.5
df_exam_data

11. Write a Pandas program to calculate the sum of the examination attempts by the students.

In [ ]:
df_exam_data['attempts'].sum()

12. Write a Pandas program to calculate the mean score for each different student in DataFrame.

In [ ]:
df_exam_data['score'].mean()

13. Write a Pandas program to append a new row 'k' to data frame with given values for each column. Now delete the new row and return the original DataFrame.

In [ ]:
df_exam_data.loc['k'] = ['Kevin', 12, 1, 'yes']
print(df_exam_data)

df_exam_data.drop('k')

14. Write a Pandas program to sort the DataFrame first by 'name' in descending order, then by 'score' in ascending order.

In [ ]:
df_exam_data.sort_values(by=['name','score'])

15.  Write a Pandas program to replace the 'qualify' column contains the values 'yes' and 'no' with True and False.

In [ ]:
df_exam_data['qualify'] = df_exam_data['qualify'].map({'yes':True, 'no':False})
df_exam_data

16. Write a Pandas program to change the name 'James' to 'Suresh' in name column of the DataFrame.

In [ ]:
df_exam_data['name'] = df_exam_data['name'].replace('James','Suresh')
df_exam_data

17. Write a Pandas program to delete the 'attempts' column from the DataFrame.

In [ ]:
#Method1:
df_exam_data.drop(['attempts'], axis=1)

18. Write a Pandas program to insert a new column in existing DataFrame.

In [ ]:
df_exam_data['grade'] = ['X','V','VI','IX','VII','VIII','VI','X','X','XI','XII'] 
df_exam_data

20. Write a Pandas program to get list from DataFrame column headers.

In [ ]:
list(df_exam_data.columns)

21. Write a Pandas program to rename columns of a given DataFrame

In [ ]:
data = {'col1':[1,0,2,1], 'col2':[0,7,1,9], 'col3':[9,1,2,5]}
df = pd.DataFrame(data)
df.rename(columns={'col1':'column1','col2':'column2','col3':'column3'})

22. Write a Pandas program to select rows from a given DataFrame based on values in some columns.

In [ ]:
#Method1:
df.loc[df['col1'] == 1]

#Method2:
df[df['col1'] == 1]

23. Write a Pandas program to change the order of a DataFrame columns.

In [ ]:
df[['col2','col3','col1']]

24. Write a Pandas program to add one row in an existing DataFrame.

In [ ]:
df2 = {'col1':4,'col2':0,'col3':9}
df = df.append(df2, ignore_index=True)
df

25. Write a Pandas program to write a DataFrame to CSV file using tab separator.

In [ ]:
df.to_csv('mycsv.csv')

In [ ]:
new_df = pd.read_csv('mycsv.csv')
new_df

26. Write a Pandas program to count city wise number of people from a given of data set (city, name of the person).

In [ ]:
dataFile = {'name':['Amal','Kamal','Shiv','Lokesh','Bharat','Chaman','Madhur'],
          'city':['Meerut','Jaipur','Kanpur','Lucknow','Meerut','Jaipur','Meerut']}
df_city = pd.DataFrame(dataFile)
df1 = df_city.groupby(['city']).size().reset_index(name='Count')
df1

27. Write a Pandas program to delete DataFrame row(s) based on given column value.

In [ ]:
#By setting == "V", we will select the dataframe rows with values "V"
#By setting != "V", we will select all those rows of the dataframe with doesnot have value "V"
df_exam_data = df_exam_data[df_exam_data['grade'] != "V"]
df_exam_data

28. Write a Pandas program to widen output display to see more columns.

In [ ]:
myDf = pd.DataFrame({'col1':[1,2,3,3,5],'col2':[0,9,2,3,5],'col3':[1,2,3,3,5],'col4':[0,9,2,3,5],'col5':[1,2,3,3,5],
      'col6':[0,9,2,3,5],'col7':[1,2,3,3,5],'col8':[0,9,2,3,5],'col9':[1,2,3,3,5],'col10':[0,9,2,3,5],
     'col11':[0,9,2,3,5],'col12':[1,2,3,3,5],'col13':[0,9,2,3,5],'col14':[1,2,3,3,5],'col15':[0,9,2,3,5],
     'col16':[0,9,2,3,5],'col17':[1,2,3,3,5],'col18':[0,9,2,3,5],'col19':[1,2,3,3,5],'col20':[0,9,2,3,5],
     'col21':[0,9,2,3,5],'col22':[1,2,3,3,5],'col23':[0,9,2,3,5],'col24':[1,2,3,3,5],'col25':[0,9,2,3,5]})
pd.set_option('display.max_columns',50)
myDf

29. Write a Pandas program to select a row of series/dataframe by given integer index.

In [ ]:
print(df_exam_data.iloc[3])

#to get the row in the list format
print(df_exam_data.iloc[[3]])

30. Write a Pandas program to replace all the NaN values with Zero's in a column of a dataframe.

In [ ]:
df1 = pd.DataFrame({'col1':[1,2,3,3,5],'col2':[0,9,2,3,5],'col3':[np.nan,2,3,3,5],'col4':[0,np.nan,2,np.nan,5]})
print(df1)
#Write any value in fillna() to replace NA with that value
df1.fillna(0)

31. Write a Pandas program to convert index in a column of the given dataframe.

In [ ]:
#converting index to a column
df1.reset_index(level=0, inplace=True)
print(df1)

print(df1.to_string(index=False))

32. Changing the column name and row index using df.columns and df.index attribute.

In [ ]:
# Let's rename already created dataFrame.
  
# Check the current column names
# using "columns" attribute.
# df.columns
  
# Change the column names
df1.columns =['N1', 'N2', 'N3', 'N4', 'N5']
  
# Change the row indexes
df1.index = ['Row_1', 'Row_2', 'Row_3', 'Row_4', 'Row_5']
  
# printing the data frame
df1

33. Write a Pandas program to count the NaN values in one or more columns in DataFrame.

In [ ]:
print(df1.isnull())

34. Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.

In [ ]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print(df)

35. Concatenate two data frames using the following conditions

In [ ]:
GermanCars = {'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'], 'Price': [23845, 171995, 135925 , 71400]}
carsDf1 = pd.DataFrame.from_dict(GermanCars)

japaneseCars = {'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 'Price': [29995, 23600, 61500 , 58900]}
carsDf2 = pd.DataFrame.from_dict(japaneseCars)

carsDf = pd.concat([carsDf1, carsDf2], keys=["Germany", "Japan"])
carsDf

36. Merge two data frames using the following condition

Create two data frames using the following two Dicts, Merge two data frames, and append the second data frame as a new column to the first data frame.

In [ ]:
Car_Price = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'Price': [23845, 17995, 135925 , 71400]}
carPriceDf = pd.DataFrame.from_dict(Car_Price)

car_Horsepower = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'horsepower': [141, 80, 182 , 160]}
carsHorsepowerDf = pd.DataFrame.from_dict(car_Horsepower)

carsDf = pd.merge(carPriceDf, carsHorsepowerDf, on="Company")
carsDf

37. Program to update the dataframe values by using index values

In [ ]:
# Creating new dataframe
  
initial_data = {'First_name': ['Ram', 'Mohan', 'Tina', 'Jeetu', 'Meera'], 
                'Last_name': ['Kumar', 'Sharma', 'Ali', 'Gandhi', 'Kumari'], 
                'Age': [42, 52, 36, 21, 23], 
                'City': ['Mumbai', 'Noida', 'Pune', 'Delhi', 'Bihar']}
  
df = pd.DataFrame(initial_data, columns = ['First_name', 'Last_name',
                                                      'Age', 'City'])
  
# Create new column using dictionary
new_data = { 0:"Shyam",
             2:"Riya",
             3:"Jitender" }
  
# combine this new data with existing DataFrame
df["First_name"].update(pd.Series(new_data))
print(df)

38. Different ways to iterate over rows in Pandas Dataframe

In [ ]:
# Define a dictionary containing students data
data = {'Name': ['Ankit', 'Amit', 'Aishwarya', 'Priyanka'],
                'Age': [21, 19, 20, 18],
                'Stream': ['Math', 'Commerce', 'Arts', 'Biology'],
                'Percentage': [88, 92, 95, 70]}
  
# Convert the dictionary into DataFrame
df = pd.DataFrame(data, columns = ['Name', 'Age', 'Stream', 'Percentage'])
  
print("Given Dataframe :\n", df)
  
print("\nIterating over rows using index attribute :\n")
  
# iterate through each row and select 
# 'Name' and 'Stream' column respectively.

for ind in df.index:
     print(df['Name'][ind], df['Stream'][ind])

39. Load the dataset and view the complete dataset

In [ ]:
df1 = pd.read_csv("Automobile_data.csv")
df1

40. Program to view first 5 rows in the dataset

In [ ]:
df1.head(5)

41. Program to view last 5 rows in the dataset

In [ ]:
df1.tail(5)

42. Program to remove the column that is not required

In [ ]:
df1.drop(['index'], axis=1, inplace=True)
df1

43. Program to rename a single column

In [ ]:
df1 = df1.rename(columns={"body-style":"body_style"})
df1

44. Program to rename multiple columns

In [ ]:
df1 = df1.rename(columns={"wheel-base":"wheel_base", "engine-type":"engine_type","num-of-cylinders":"no_of_cylinders", "average-mileage": "avg_mileage"})
df1

45. Program to find the unique values of any column

In [ ]:
df1['body_style'].unique()

46. Program to count the values present in the column

In [ ]:
df1['body_style'].value_counts()

In [ ]:
df1['no_of_cylinders'].value_counts()

47. Program to find each company’s Higesht price car

In [ ]:
car_Manufacturers = df1.groupby('company')
priceDf = car_Manufacturers['company','price'].max()
priceDf

48. Print all the rows with only 'avg_mileage' and 'price' columns from the dataframe

In [ ]:
df1[['avg_mileage', 'price']]

 49. Program to select [2, 3, 7] rows and in columns ['engine_type', 'no_of_cylinders']

In [ ]:
df1[['engine_type', 'no_of_cylinders']].iloc[[2, 3, 7]]

50. Program to drop any 2 columns from the dataframe.

In [ ]:
df1.drop(['company', 'engine_type'], axis=1, inplace=True)
df1

51. Program to remove the missing field from the dataset

In [ ]:
df1.isnull().sum()

In [ ]:
df1.dropna(inplace=True)

In [ ]:
df1.isnull().sum()

52. Program to find which row has maximum value for a specific column. For eg. "avg_mileage".

In [ ]:
print(df1.avg_mileage.max())

53. Program to find which row has maximum value for a specific column. For eg., "avg_mileage".

In [ ]:
print(df1.avg_mileage.min())

54. Select one row randomly from Pandas Dataframe.

In [ ]:
# selects one row randomly
df1.sample()

In [ ]:
# Using parameter n, which selects n numbers of rows randomly.
df1.sample(n=2)

55. Drop rows from the dataframe based on some condition.

In [ ]:
df1.drop(df1[df1['avg_mileage'] < 10].index, inplace = True)
  
# Print the modified dataframe
print("The final dataframe: \n", df1.head(5))
  
print("\n")
# Print the shape of the dataframe
print("The shape of the dataframe: ", df1.shape)

56. Get all rows in a Pandas DataFrame containing given substring

In [ ]:
df2 = df1[df1['body_style'].str.contains("hatch")]
print(df2)

57. Get n-largest values from a particular column in Pandas DataFrame

In [ ]:
 # five largest values in column avg_mileage
df1.nlargest(5, ['avg_mileage'])

58. Get n-smallest values from a particular column in Pandas DataFrame

In [ ]:
df1.nsmallest(5, ['length'])

59. Split a column in Pandas dataframe and get part of it

In [ ]:
df = pd.DataFrame({'Geek_ID':['Geek1_id', 'Geek2_id', 'Geek3_id', 
                                         'Geek4_id', 'Geek5_id'],
                'Geek_A': [1, 1, 3, 2, 4],
                'Geek_B': [1, 2, 3, 4, 6],
                'Geek_R': np.random.randn(5)})
print(df.Geek_ID.str.split('_').str[0])

In [ ]:
print(df.Geek_ID.str.split('_').str[0].tolist())

60. Difference of two columns in Pandas dataframe

In [ ]:
# Create a DataFrame
df3 = { 'Name':['George','Andrea','micheal',
                'maggie','Ravi','Xien','Jalpa'],
        'score1':[62,47,55,74,32,77,86],
        'score2':[45,78,44,89,66,49,72]}
  
df3 = pd.DataFrame(df3,columns= ['Name','score1','score2'])
  
print("Given Dataframe :\n", df3)
  
# getting Difference
df3['Score_diff'] = df3['score1'] - df3['score2']
print("\nDifference of score1 and score2 :\n", df3)

61. Difference of two columns in Pandas dataframe using sub() method

In [ ]:
# Create a DataFrame
df3 = { 'Name':['George','Andrea','micheal',
                'maggie','Ravi','Xien','Jalpa'],
        'score1':[62,47,55,74,32,77,86],
        'score2':[45,78,44,89,66,49,72]}
   
df3 = pd.DataFrame(df3,columns= ['Name','score1','score2'])
   
print("Given Dataframe :\n", df3)
  
df3['Score_diff'] = df3['score1'].sub(df3['score2'], axis = 0)
print("\nDifference of score1 and score2 :\n", df3)

62. Change Data Type for one or more columns in Pandas Dataframe

In [ ]:
df = pd.DataFrame({
    'A': [1, 2, 3, 4, 5],
    'B': ['a', 'b', 'c', 'd', 'e'],
    'C': [1.1, '1.0', '1.3', 2, 5] })
  
# converting all columns to string type
df = df.astype(str)
print(df.dtypes)

63. Change Data Type for one or more columns in Pandas Dataframe using apply()

In [ ]:
df = pd.DataFrame({
    'A': [1, 2, 3, '4', '5'],
    'B': ['a', 'b', 'c', 'd', 'e'],
    'C': [1.1, '2.1', 3.0, '4.1', '5.1'] })
  
# using apply method
df[['A', 'C']] = df[['A', 'C']].apply(pd.to_numeric)
print(df.dtypes)

64. Program to lowercase column names in Pandas dataframe using lower() method

In [ ]:
df = pd.DataFrame({'A': ['John', 'bODAY', 'MinA', 'Peter', 'nicky'],
                  'B': ['masters', 'graduate', 'graduate', 
                                   'Masters', 'Graduate'],
                  'C': [27, 23, 21, 23, 24]})
   
df['A'] = df['A'].str.lower()
  
df

65. Capitalize first letter of a column in Pandas dataframe

In [ ]:
df = pd.DataFrame({'A': ['John', 'bODAY', 'MinA', 'Peter', 'nicky'],
                  'B': ['masters', 'graduate', 'graduate', 
                                   'Masters', 'Graduate'],
                  'C': [27, 23, 21, 23, 24]})
df['A'] = df['A'].str.capitalize()
  
df

66. Apply uppercase to the values in a column in Pandas dataframe

In [ ]:
df = pd.DataFrame({'A': ['John', 'bODAY', 'MinA', 'Peter', 'nicky'],
                  'B': ['masters', 'graduate', 'graduate', 
                                   'Masters', 'Graduate'],
                  'C': [27, 23, 21, 23, 24]})
df['A'] = df['A'].str.upper()
df

67. Program to merge two data frames to form a single data frame.

In [ ]:
df1= pd.DataFrame({ "HPI":[80,90,70,60],"Int_Rate":[2,1,2,3],"IND_GDP":[50,45,45,67]}, index=[2001, 2002,2003,2004])

df2=pd.DataFrame({ "HPI":[80,90,70,60],"Int_Rate":[2,1,2,3],"IND_GDP":[50,45,45,67]}, index=[2005, 2006,2007,2008])
 
print("1st Dataframe: \n ", df1)
print("\n")
print("2nd Dataframe: \n ", df2)
print("\n")
merged= pd.merge(df1,df2)
 
print("Merged Dataframe: \n", merged)

68.  Program to combine two dataframes by specifying the column which you want to make common

In [ ]:
# “HPI” column to be common and for everything else, separate columns
df1 = pd.DataFrame({"HPI":[80,90,70,60],"Int_Rate":[2,1,2,3], "IND_GDP":[50,45,45,67]}, index=[2001, 2002,2003,2004])
 
df2 = pd.DataFrame({"HPI":[80,90,70,60],"Int_Rate":[2,1,2,3],"IND_GDP":[50,45,45,67]}, index=[2005, 2006,2007,2008])
 
merged= pd.merge(df1,df2,on ="HPI")
 
print("Merged Dataframe: \n", merged)

69. Program to combine two differently indexed dataframes into a single dataframe.

join() - It is a method to combine two differently indexed dataframes into a single dataframe. This is quite similar to the “merge” operation, except the joining operation will be on the “index” instead of  the “columns”.

In [ ]:
df1 = pd.DataFrame({"Int_Rate":[2,1,2,3], "IND_GDP":[50,45,45,67]}, index=[2001, 2002,2003,2004])
 
df2 = pd.DataFrame({"Low_Tier_HPI":[50,45,67,34],"Unemployment":[1,3,5,6]}, index=[2001, 2003,2004,2004])
 
print("1st Dataframe: \n ", df1)
print("\n")
print("2nd Dataframe: \n ", df2)
print("\n")
joined= df1.join(df2)
print("The joined dataframe: \n", joined)

In [ ]:
70.

Concatenation basically glues the dataframes together. You can select the dimension on which you want to concatenate.

In [ ]:
df1 = pd.DataFrame({"HPI":[80,90,70,60],"Int_Rate":[2,1,2,3], "IND_GDP":[50,45,45,67]}, index=[2001, 2002,2003,2004])
 
df2 = pd.DataFrame({"HPI":[80,90,70,60],"Int_Rate":[2,1,2,3],"IND_GDP":[50,45,45,67]}, index=[2005, 2006,2007,2008])
 
concat= pd.concat([df1,df2])
 
print("Concatenated dataframe:  \n", concat)

In the above eg, the two dataframes are glued together in a single dataframe, where the index starts from 2001 all the way upto 2008.

80. How to check if a column exists in Pandas?

In [ ]:
df = pd.DataFrame([[10, 20, 30, 40], [7, 14, 21, 28], [55, 15, 8, 12]],
                  columns=['Apple', 'Orange', 'Banana', 'Pear'],
                  index=['Basket1', 'Basket2', 'Basket3'])
 
if 'Apple' in df.columns:
    print("Yes")
else:
    print("No")
 
 
if set(['Apple','Orange']).issubset(df.columns):
    print("Yes")
else:
    print("No")

81. Program to calculate mean, median and mode.

In [ ]:
df = pd.DataFrame([[10, 20, 30, 40], [7, 14, 21, 28], [55, 15, 8, 12],
                   [15, 14, 1, 8], [7, 1, 1, 8], [5, 4, 9, 2]],
                  columns=['Apple', 'Orange', 'Banana', 'Pear'],
                  index=['Basket1', 'Basket2', 'Basket3', 'Basket4',
                         'Basket5', 'Basket6'])
 
print(df)
print()
print("\n----------- Calculate Mean -----------\n")
print(df.mean())
 
print("\n----------- Calculate Median -----------\n")
print(df.median())
 
print("\n----------- Calculate Mode -----------\n")
print(df.mode())

82. How to get Length Size and Shape of a Series in Pandas?

In [ ]:
print(df)
print(len(df))
print(df.shape)
print(df.size)

83. Drop rows with missing data

In [ ]:
df = pd.DataFrame([[10, 20, 30, 40], [7, 14, 21, 28], [5,]],
                  columns=['Apple', 'Orange', 'Banana', 'Pear'],
                  index=['Basket1', 'Basket2', 'Basket3'])
 
print("\n--------- DataFrame ---------\n")
print(df)
 
print("\n--------- Use of dropna() ---------\n")
print(df.dropna())

84. Program to sort Index Values in descending order

In [ ]:
df = pd.DataFrame({'DateOfBirth': ['1986-11-11', '1999-05-12', '1976-01-01',
                                   '1986-06-01', '1983-06-04', '1990-03-07',
                                   '1999-07-09'],
                   'State': ['NY', 'TX', 'FL', 'AL', 'AK', 'TX', 'TX']
                   },
                  index=['Jane', 'Pane', 'Aaron', 'Penelope', 'Frane',
                         'Christina', 'Cornelia'])

print(df.sort_index(ascending=False))

85. Program to sort Columns in descending order.

In [ ]:
employees = pd.DataFrame({
    'EmpCode': ['Emp001', 'Emp002', 'Emp003', 'Emp004', 'Emp005'],
    'Name': ['John', 'Doe', 'William', 'Spark', 'Mark'],
    'Occupation': ['Chemist', 'Statistician', 'Statistician',
                   'Statistician', 'Programmer'],
    'Date Of Join': ['2018-01-25', '2018-01-26', '2018-01-26', '2018-02-26',
                     '2018-03-16'],
    'Age': [23, 24, 34, 29, 40]})


print(employees.sort_index(axis=1, ascending=False))

In [ ]:
import pandas as pd
diamonds = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')
print(diamonds)

86. Write a Pandas program to filter the DataFrame rows to only show carat weight at least 0.3.

In [ ]:
print("Original Dataframe:")
print(diamonds.head(20))
print("\nRows to only show carat weight at least 0.3:")
booleans = []
for w in diamonds.carat:
   if w >= .3:
       booleans.append(True)
   else:
       booleans.append(False)
print(booleans[0:20])

87. Write a Pandas program to sort the 'price' Series in descending order (returns a Series) of diamonds Dataframe.

In [ ]:
print("Original Dataframe:")
print(diamonds.head())
print("\ncut Series in ascending order :")
result = diamonds.cut.sort_values(ascending=True)
print(result)

88. Write a Pandas program to sort the 'cut' Series in ascending order (returns a Series) of diamonds Dataframe

In [ ]:
print("\ncut Series in ascending order :")
result = diamonds.cut.sort_values(ascending=True)
print(result)

89. Write a Pandas program to sort the entire diamonds DataFrame by the 'depth' Series in ascending and descending order.

In [ ]:
print("\nSort the entire diamonds DataFrame by the 'depth' Series in ascending order")
result = diamonds.sort_values('depth')
print(result)
print("\nSort the entire diamonds DataFrame by the 'depth' Series in descending  order")
result = diamonds.sort_values('depth', ascending=False)
print(result)

In [ ]:
90.Write a Pandas program to find the details of the diamonds where length>5, width>5 and depth>5

In [ ]:
print("\nDiamonds where length>5, width>5 and depth>5:")
result = diamonds[(diamonds.x>5) & (diamonds.y>5) & (diamonds.z>5)]
print(result.head())

91. Write a Pandas program to find the diamonds that are either Premium or Ideal.

In [ ]:
print("\nDiamonds that are either Premium or Ideal:")
result = diamonds[(diamonds.cut == 'Premium') | (diamonds.cut == 'Ideal')]
print(result.head())

92. Write a Pandas program to display all column labels of diamonds DataFrame.

In [ ]:
print("Column labels of diamonds DataFrame:")
print(diamonds.columns)

93. Write a Pandas program to include only numeric columns in the diamonds DataFrame.

In [ ]:
print("\nInclude only numeric columns in the diamonds DataFrame:")
print(diamonds.select_dtypes(include=[np.number]).dtypes)

94. Write a Pandas program to pass a list of data types to only describe certain types of diamonds DataFrame.

In [ ]:
print("\nList of data types to only describe certain types:")
print(diamonds.describe(include=['object', 'float64']))

95. Write a Pandas program to calculate the mean of each numeric column of diamonds DataFrame.

In [ ]:
print("\nMean of each numeric column of diamonds DataFrame:")
print(diamonds.mean())

In [ ]:
96. Write a Pandas program to calculate the mean of price for each cut of diamonds DataFrame.

In [ ]:
print("\nCalculate the mean of price for each cut:")
print(diamonds.groupby('cut').price.mean())

97. Write a Pandas program to calculate count, minimum, maximum price for each cut of diamonds DataFrame.

In [ ]:
print("\nCount, minimum, maximum  price for each cut of diamonds DataFrame:")
print(diamonds.groupby('cut').price.agg(['count', 'min', 'max']))

98. Write a Pandas program to count how many times each value in cut series of diamonds DataFrame occurs.

In [ ]:
print("\nNumber of times each value in cut series of diamonds DataFrame occurs:")
print(diamonds.cut.value_counts())

99.  Write a Pandas program to display the unique values in cut series of diamonds DataFrame.

In [ ]:
print("\nDisplay the unique values in cut series of diamonds DataFrame:")
print(diamonds.cut.unique())

100. Write a Pandas program to count the number of missing values in each Series of diamonds DataFrame.

In [ ]:
print("\nNumber of missing values in each Series of diamonds DataFrame:")
print(diamonds.isnull().sum())

101. rite a Pandas program to drop a row if any or all values in a row are missing of diamonds DataFrame on two specific columns..

In [ ]:
print("\nAfter droping those rows where any value in a row is missing in carat and cut columns:")
print(diamonds.dropna(subset=['carat', 'cut'], how='any').shape)
print("\nAfter droping those rows where all values in a row are missing in carat and cut columns:")
print(diamonds.dropna(subset=['carat', 'cut'], how='all').shape)

102. Write a Pandas program to read rows 0, 5, 7 and all columns of diamonds DataFrame.

In [ ]:
print("\nRows 0, 5, 7 and all columns:")
print(diamonds.loc[[0, 1, 2], :])

103. Write a Pandas program to read rows 2 through 5 and all columns of diamonds DataFrame.

In [ ]:
print("\nRows 2 through 5 and all columns :")
print(diamonds.loc[0:2, :])

104. Write a Pandas program to read rows 0 through 2 (inclusive), columns ‘color’ and ‘price’ of diamonds DataFrame.

In [ ]:
print("\nRows 0 through 2 (inclusive), columns ‘color’ and ‘price’:")
print(diamonds.loc[0:2, ['color', 'price']])

105. Write a Pandas program to read rows in positions 0 and 1, columns in positions 0 and 3 of diamonds DataFrame.

In [ ]:
print("\nRows in positions 0 and 1, columns in positions 0 and 3 :")
print(diamonds.iloc[[0, 1], [0, 3]])

106. Write a Pandas program to get randomly sample rows from diamonds DataFrame.

In [ ]:
print("\nRows in positions 0 and 1, columns in positions 0 and 3 :")
print(diamonds.iloc[[0, 1], [0, 3]])

107. Write a Pandas program to read the diamonds DataFrame and detect duplicate color.

In [ ]:
print("\nCount the duplicate items:")
print(diamonds.clarity.duplicated().sum())

108. Write a Pandas program to count the duplicate rows of diamonds DataFrame.

In [ ]:
print("\nDuplicate rows of diamonds DataFrame:")
print(diamonds.duplicated().sum())

109.Write a Pandas program to set an existing column as the index of diamonds DataFrame.

In [ ]:
diamonds.set_index('color', inplace=True)
print(diamonds.head())

110. Write a Pandas program to remove multiple columns at once of the diamonds Dataframe.

In [ ]:
print("\nRemove multiple columns:")
diamonds.drop(['carat', 'y'], axis=1, inplace=True)
print(diamonds.head())