In [1]:
import numpy as mp
import pandas as pd

In [2]:
df = pd.read_csv('ABC.csv')

In [3]:
df

,Unnamed: 0,Eastern Conference,W,L,W/L%,GB,PS/G,PA/G,SRS
0,0,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division
1,1,Toronto Raptors*,49,33,.598,—,104.0,100.9,2.45
2,2,Boston Celtics*,40,42,.488,9.0,101.4,101.2,-0.40
3,3,Brooklyn Nets*,38,44,.463,11.0,98.0,100.9,-3.13
4,4,Philadelphia 76ers,18,64,.220,31.0,92.0,101.0,-9.04
5,5,New York Knicks,17,65,.207,32.0,91.9,101.2,-9.50
6,6,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division
7,7,Cleveland Cavaliers*,53,29,.646,—,103.1,98.7,4.08
8,8,Chicago Bulls*,50,32,.610,3.0,100.8,97.8,2.54
9,9,Milwaukee Bucks*,41,41,.500,12.0,97.8,97.4,-0.09
10,10,Indiana Pacers,38,44,.463,15.0,97.3,97.0,-0.23
11,11,Detroit Pistons,32,50,.390,21.0,98.5,99.5,-1.39
12,12,Southeast Division,Southeast Division,Southeast Division,Southeast Division,Southeast Division,Southeast Division,Southeast Division,Southeast Division
13,13,Atlanta Hawks*,60,22,.732,—,102.5,97.1,4.75
14,14,Washington Wizards*,46,36,.561,14.0,98.5,97.8,0.17
15,15,Miami Heat,37,45,.451,23.0,94.7,97.3,-2.92
16,16,Charlotte Hornets,33,49,.402,27.0,94.2,97.3,-3.44
17,17,Orlando Magic,25,57,.305,35.0,95.7,101.4,-5.87

In [4]:
df2 = pd.read_excel('ex1.xlsx')

In [5]:
df2

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [6]:
pd.read_csv('ex1.csv')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [7]:
pd.read_csv(r'C:\Users\Datamites\Desktop\23 JAN WDM\CDS-03-Pandas\ex4.csv')

                                                                      # hey!
a                                                  b        c   d    message
# just wanted to make things more difficult for... NaN      NaN NaN      NaN
# who reads CSV files with computers                anyway? NaN NaN      NaN
1                                                  2        3   4      hello
5                                                  6        7   8      world
9                                                  10       11  12       foo

In [8]:
pd.read_csv('C:/Users/Datamites/Desktop/23 JAN WDM/CDS-03-Pandas/ex4.csv')

                                                                      # hey!
a                                                  b        c   d    message
# just wanted to make things more difficult for... NaN      NaN NaN      NaN
# who reads CSV files with computers                anyway? NaN NaN      NaN
1                                                  2        3   4      hello
5                                                  6        7   8      world
9                                                  10       11  12       foo

In [9]:
df3 = pd.read_table('test.tsv')
df3

            test     test   test.1   test.2   test.3
Data        Data     Data     Data     Data     Data
Science  Science  Science  Science  Science  Science

In [10]:
pd.read_csv('test.tsv', sep='\t')

            test     test   test.1   test.2   test.3
Data        Data     Data     Data     Data     Data
Science  Science  Science  Science  Science  Science

In [11]:
pd.read_csv('ex7.csv')

   a*b*c
0  1*2*3
1  1*2*3

In [12]:
pd.read_csv('ex7.csv', sep = '*')

   a  b  c
0  1  2  3
1  1  2  3

In [13]:
pd.read_csv(r'C:\Users\Datamites\Desktop\23 JAN WDM\CDS-03-Pandas\train.csv')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [15]:
df5 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2015.html')
df5

[      Eastern Conference                   W                   L  \
 0      Atlantic Division   Atlantic Division   Atlantic Division
 1       Toronto Raptors*                  49                  33
 2        Boston Celtics*                  40                  42
 3         Brooklyn Nets*                  38                  44
 4     Philadelphia 76ers                  18                  64
 5        New York Knicks                  17                  65
 6       Central Division    Central Division    Central Division
 7   Cleveland Cavaliers*                  53                  29
 8         Chicago Bulls*                  50                  32
 9       Milwaukee Bucks*                  41                  41
 10        Indiana Pacers                  38                  44
 11       Detroit Pistons                  32                  50
 12    Southeast Division  Southeast Division  Southeast Division
 13        Atlanta Hawks*                  60                  22
 14   Washington Wizards*                  46                  36
 15            Miami Heat                  37                  45
 16     Charlotte Hornets                  33                  49
 17         Orlando Magic                  25                  57

                   W/L%                  GB                PS/G  \
 0    Atlantic Division   Atlantic Division   Atlantic Division
 1                 .598                   —               104.0
 2                 .488                 9.0               101.4
 3                 .463                11.0                98.0
 4                 .220                31.0                92.0
 5                 .207                32.0                91.9
 6     Central Division    Central Division    Central Division
 7                 .646                   —               103.1
 8                 .610                 3.0               100.8
 9                 .500                12.0                97.8
 10                .463                15.0                97.3
 11                .390                21.0                98.5
 12  Southeast Division  Southeast Division  Southeast Division
 13                .732                   —               102.5
 14                .561                14.0                98.5
 15                .451                23.0                94.7
 16                .402                27.0                94.2
 17                .305                35.0                95.7

                   PA/G                 SRS
 0    Atlantic Division   Atlantic Division
 1                100.9                2.45
 2                101.2               -0.40
 3                100.9               -3.13
 4                101.0               -9.04
 5                101.2               -9.50
 6     Central Division    Central Division
 7                 98.7                4.08
 8                 97.8                2.54
 9                 97.4               -0.09
 10                97.0               -0.23
 11                99.5               -1.39
 12  Southeast Division  Southeast Division
 13                97.1                4.75
 14                97.8                0.17
 15                97.3               -2.92
 16                97.3               -3.44
 17               101.4               -5.87  ,
          Western Conference                   W                   L  \
 0        Northwest Division  Northwest Division  Northwest Division
 1   Portland Trail Blazers*                  51                  31
 2     Oklahoma City Thunder                  45                  37
 3                 Utah Jazz                  38                  44
 4            Denver Nuggets                  30                  52
 5    Minnesota Timberwolves                  16                  66
 6          Pacific Division    Pacific Division    Pacific Division
 7    Golden State Warriors*                  67                  15
 8     Los Angeles Clippers*                  56                  26
 9              Phoenix Suns                  39                  43
 10         Sacramento Kings                  29                  53
 11       Los Angeles Lakers                  21                  61
 12       Southwest Division  Southwest Division  Southwest Division
 13         Houston Rockets*                  56                  26
 14       Memphis Grizzlies*                  55                  27
 15       San Antonio Spurs*                  55                  27
 16        Dallas Mavericks*                  50                  32
 17    New Orleans Pelicans*                  45                  37

                   W/L%                  GB                PS/G  \
 0   Northwest Division  Northwest Division  Northwest Division
 1                 .622                   —               102.8
 2                 .549                 6.0               104.0
 3                 .463                13.0                95.1
 4                 .366                21.0               101.5
 5                 .195                35.0                97.8
 6     Pacific Division    Pacific Division    Pacific Division
 7                 .817                   —               110.0
 8                 .683                11.0               106.7
 9                 .476                28.0               102.4
 10                .354                38.0               101.3
 11                .256                46.0                98.5
 12  Southwest Division  Southwest Division  Southwest Division
 13                .683                   —               103.9
 14                .671                 1.0                98.3
 15                .671                 1.0               103.2
 16                .610                 6.0               105.2
 17                .549                11.0                99.4

                   PA/G                 SRS
 0   Northwest Division  Northwest Division
 1                 98.6                4.41
 2                101.8                2.47
 3                 94.9                0.71
 4                105.0               -3.07
 5                106.5               -8.00
 6     Pacific Division    Pacific Division
 7                 99.9               10.01
 8                100.1                6.80
 9                103.3               -0.38
 10               105.0               -3.07
 11               105.3               -6.17
 12  Southwest Division  Southwest Division
 13               100.5                3.82
 14                95.1                3.62
 15                97.0                6.34
 16               102.3                3.36
 17                98.6                1.13  ,
       Rk                     Team   G     MP    FG   FGA    FG%    3P   3PA  \
 0    1.0   Golden State Warriors*  82  240.6  41.6  87.0  0.478  10.8  27.0
 1    2.0    Los Angeles Clippers*  82  240.6  39.4  83.3  0.473  10.1  26.9
 2    3.0        Dallas Mavericks*  82  242.4  39.7  85.8  0.463   8.9  25.4
 3    4.0    Oklahoma City Thunder  82  241.8  38.8  86.8  0.447   7.7  22.7
 4    5.0         Toronto Raptors*  82  242.1  37.9  83.3  0.455   8.9  25.1
 5    6.0         Houston Rockets*  82  241.5  37.0  83.3  0.444  11.4  32.7
 6    7.0       San Antonio Spurs*  82  243.4  39.1  83.6  0.468   8.3  22.5
 7    8.0     Cleveland Cavaliers*  82  241.2  37.7  82.2  0.458  10.1  27.5
 8    9.0  Portland Trail Blazers*  82  242.1  38.7  86.0  0.450   9.8  27.2
 9   10.0           Atlanta Hawks*  82  240.6  38.1  81.7  0.466  10.0  26.2
 10  11.0             Phoenix Suns  82  242.4  38.8  85.8  0.452   8.5  25.0
 11  12.0           Denver Nuggets  82  242.4  37.8  87.3  0.433   8.0  24.8
 12  13.0          Boston Celtics*  82  242.4  38.9  87.9  0.443   8.0  24.6
 13  14.0         Sacramento Kings  82  242.1  36.7  80.7  0.455   5.6  16.5
 14  15.0           Chicago Bulls*  82  242.4  36.6  82.9  0.442   7.9  22.3
 15  16.0    New Orleans Pelicans*  82  241.2  37.9  82.9  0.457   7.1  19.3
 16  17.0      Washington Wizards*  82  243.4  38.3  82.8  0.462   6.1  16.8
 17  18.0       Los Angeles Lakers  82  243.0  37.2  85.6  0.435   6.5  18.9
 18  19.0          Detroit Pistons  82  241.8  37.1  85.8  0.432   8.6  24.9
 19  20.0       Memphis Grizzlies*  82  242.7  37.8  82.5  0.458   5.2  15.2
 20  21.0           Brooklyn Nets*  82  243.0  37.4  83.0  0.451   6.6  19.9
 21  22.0   Minnesota Timberwolves  82  241.5  36.4  83.2  0.438   5.0  14.9
 22  23.0         Milwaukee Bucks*  82  243.0  37.6  82.0  0.459   6.6  18.3
 23  24.0           Indiana Pacers  82  242.1  36.6  83.2  0.439   7.5  21.2
 24  25.0            Orlando Magic  82  240.9  37.5  82.8  0.453   6.8  19.5
 25  26.0                Utah Jazz  82  240.3  35.4  79.2  0.447   7.4  21.7
 26  27.0               Miami Heat  82  240.6  35.2  77.2  0.456   6.8  20.2
 27  28.0        Charlotte Hornets  82  242.7  35.5  84.5  0.420   6.1  19.1
 28  29.0       Philadelphia 76ers  82  241.5  33.7  82.6  0.408   8.4  26.3
 29  30.0          New York Knicks  82  242.1  35.1  82.0  0.428   6.8  19.7
 30   NaN           League Average  82  242.0  37.5  83.6  0.449   7.8  22.4

       3P%  ...    FT%   ORB   DRB   TRB   AST  STL  BLK   TOV    PF    PTS
 0   0.398  ...  0.768  10.4  34.3  44.7  27.4  9.3  6.0  14.5  19.9  110.0
 1   0.376  ...  0.710   9.6  33.1  42.6  24.8  7.8  5.0  12.3  21.3  106.7
 2   0.352  ...  0.752  10.5  31.8  42.3  22.5  8.1  4.5  13.0  20.0  105.2
 3   0.339  ...  0.754  12.8  34.7  47.5  20.5  7.3  5.5  14.7  22.3  104.0
 4   0.352  ...  0.787  10.7  30.8  41.5  20.7  7.5  4.4  12.9  20.9  104.0
 5   0.348  ...  0.715  11.7  32.0  43.7  22.2  9.5  5.0  16.7  22.0  103.9
 6   0.367  ...  0.780   9.8  33.8  43.6  24.4  8.0  5.4  14.0  19.1  103.2
 7   0.367  ...  0.751  11.1  31.9  43.0  22.1  7.4  4.1  14.3  18.4  103.1
 8   0.362  ...  0.801  10.7  35.1  45.9  21.9  6.4  4.5  13.6  18.2  102.8
 9   0.380  ...  0.778   8.7  31.8  40.6  25.7  9.1  4.6  14.2  17.8  102.5
 10  0.341  ...  0.760  10.9  32.2  43.2  20.2  8.5  4.7  15.1  21.3  102.4
 11  0.325  ...  0.734  12.3  32.4  44.7  21.8  7.8  4.5  14.2  23.0  101.5
 12  0.327  ...  0.754  11.1  32.7  43.8  24.5  8.2  3.6  13.8  21.2  101.4
 13  0.341  ...  0.762  10.9  33.3  44.2  20.3  6.7  4.0  16.3  20.7  101.3
 14  0.353  ...  0.783  11.7  34.0  45.7  21.7  6.3  5.8  14.0  18.2  100.8
 15  0.370  ...  0.751  11.5  32.0  43.5  22.0  6.7  6.2  13.3  18.7   99.4
 16  0.360  ...  0.742  10.5  34.2  44.7  24.0  7.3  4.6  15.0  20.8   98.5
 17  0.344  ...  0.741  11.6  32.3  43.9  20.9  7.0  4.5  13.2  21.2   98.5
 18  0.344  ...  0.703  12.8  32.1  44.9  21.6  7.6  4.7  13.4  19.0   98.5
 19  0.339  ...  0.773  10.4  32.1  42.6  21.7  8.5  4.2  13.3  19.1   98.3
 20  0.331  ...  0.748  10.3  32.0  42.4  20.9  7.0  4.1  13.8  19.3   98.0
 21  0.332  ...  0.776  11.6  29.3  40.9  21.6  8.1  4.0  15.0  19.2   97.8
 22  0.363  ...  0.757  10.7  31.4  42.1  23.6  9.6  4.9  16.7  22.1   97.8
 23  0.352  ...  0.756  10.4  34.4  44.9  21.4  6.2  4.6  14.0  21.2   97.3
 24  0.347  ...  0.729  10.0  31.8  41.8  20.6  7.9  3.8  14.9  20.9   95.7
 25  0.343  ...  0.721  12.0  31.9  44.0  19.9  7.6  6.0  15.3  19.3   95.1
 26  0.335  ...  0.741   9.1  30.0  39.1  19.8  7.8  4.5  14.8  20.0   94.7
 27  0.318  ...  0.748  10.0  34.1  44.1  20.2  6.1  5.5  11.9  18.2   94.2
 28  0.320  ...  0.676  11.9  30.9  42.9  20.5  9.6  5.9  17.7  21.7   92.0
 29  0.347  ...  0.769  10.6  29.8  40.4  21.3  7.0  4.7  14.7  21.6   91.9
 30  0.350  ...  0.750  10.9  32.4  43.3  22.0  7.7  4.8  14.4  20.2  100.0

 [31 rows x 25 columns],
       Rk                     Team   G     MP    FG   FGA    FG%   3P   3PA  \
 0    1.0                Utah Jazz  82  240.3  35.8  80.3  0.446  7.4  20.4
 1    2.0       Memphis Grizzlies*  82  242.7  36.0  81.5  0.442  8.1  23.0
 2    3.0       San Antonio Spurs*  82  243.4  37.1  83.7  0.444  6.8  18.9
 3    4.0           Indiana Pacers  82  242.1  36.0  82.7  0.435  7.2  20.9
 4    5.0           Atlanta Hawks*  82  240.6  36.5  83.1  0.439  8.8  25.8
 5    6.0        Charlotte Hornets  82  242.7  36.8  83.7  0.440  7.9  22.1
 6    7.0               Miami Heat  82  240.6  36.1  79.5  0.454  8.1  23.0
 7    8.0         Milwaukee Bucks*  82  243.0  35.6  81.5  0.437  8.2  24.1
 8    9.0      Washington Wizards*  82  243.4  36.2  83.5  0.433  8.0  23.0
 9   10.0           Chicago Bulls*  82  242.4  37.7  86.7  0.435  6.6  19.6
 10  11.0    New Orleans Pelicans*  82  241.2  37.9  83.1  0.456  6.5  19.6
 11  12.0  Portland Trail Blazers*  82  242.1  38.2  86.9  0.439  6.4  18.9
 12  13.0     Cleveland Cavaliers*  82  241.2  38.1  83.5  0.456  7.7  22.5
 13  14.0          Detroit Pistons  82  241.8  37.9  83.1  0.456  7.7  21.8
 14  15.0   Golden State Warriors*  82  240.6  37.0  86.4  0.428  7.2  21.4
 15  16.0    Los Angeles Clippers*  82  240.6  36.4  82.3  0.442  8.3  23.9
 16  17.0         Houston Rockets*  82  241.5  37.7  85.2  0.443  7.4  22.9
 17  18.0           Brooklyn Nets*  82  243.0  38.4  84.3  0.456  8.5  23.7
 18  19.0         Toronto Raptors*  82  242.1  38.0  82.8  0.459  7.7  22.3
 19  20.0       Philadelphia 76ers  82  241.5  37.1  82.7  0.449  8.0  22.9
 20  21.0          Boston Celtics*  82  242.4  38.1  84.7  0.450  7.4  22.0
 21  22.0          New York Knicks  82  242.1  37.0  80.4  0.460  8.5  22.3
 22  23.0            Orlando Magic  82  240.9  38.0  82.0  0.463  8.3  22.6
 23  24.0    Oklahoma City Thunder  82  241.8  37.6  85.5  0.440  8.3  24.2
 24  25.0        Dallas Mavericks*  82  242.4  38.0  84.5  0.450  9.0  24.8
 25  26.0             Phoenix Suns  82  242.4  38.4  85.0  0.452  7.7  21.9
 26  27.0         Sacramento Kings  82  242.1  39.5  86.5  0.456  8.8  25.1
 27  28.0           Denver Nuggets  82  242.4  38.6  84.3  0.458  7.7  22.2
 28  29.0       Los Angeles Lakers  82  243.0  38.8  83.1  0.466  8.5  23.4
 29  30.0   Minnesota Timberwolves  82  241.5  41.1  84.5  0.487  8.5  23.1
 30   NaN           League Average  82  242.0  37.5  83.6  0.449  7.8  22.4

       3P%  ...    FT%   ORB   DRB   TRB   AST  STL  BLK   TOV    PF    PTS
 0   0.362  ...  0.744   9.9  29.3  39.2  19.4  8.2  4.7  13.1  19.6   94.9
 1   0.351  ...  0.742  10.5  31.9  42.4  20.1  7.4  5.2  15.3  20.3   95.1
 2   0.360  ...  0.745   9.9  32.2  42.1  20.7  7.9  4.4  14.2  19.7   97.0
 3   0.345  ...  0.753   9.8  33.0  42.7  19.9  7.5  4.7  12.7  21.4   97.0
 4   0.341  ...  0.764  11.6  32.1  43.6  23.5  7.4  4.9  16.1  19.6   97.1
 5   0.357  ...  0.772   8.9  35.2  44.1  22.1  6.1  5.4  12.6  20.8   97.3
 6   0.353  ...  0.730  10.9  30.1  41.0  21.3  7.9  4.4  14.8  20.9   97.3
 7   0.342  ...  0.742  11.4  31.4  42.9  22.3  8.6  4.8  17.4  20.1   97.4
 8   0.349  ...  0.738  10.0  31.7  41.7  19.9  8.0  4.3  14.0  19.6   97.8
 9   0.335  ...  0.749  11.7  31.7  43.4  20.2  7.5  5.4  12.2  21.2   97.8
 10  0.335  ...  0.759  10.6  30.9  41.5  20.7  6.8  5.8  12.2  18.7   98.6
 11  0.338  ...  0.758  11.0  33.6  44.6  20.4  8.0  3.6  12.2  18.7   98.6
 12  0.343  ...  0.745  10.8  30.3  41.1  24.1  7.8  4.5  13.3  20.5   98.7
 13  0.355  ...  0.772  10.7  33.4  44.1  23.8  7.0  4.8  14.0  19.3   99.5
 14  0.337  ...  0.763  11.7  32.8  44.5  21.0  8.3  3.6  16.2  18.8   99.9
 15  0.349  ...  0.741  10.6  32.3  42.9  23.2  6.7  3.0  14.3  21.5  100.1
 16  0.322  ...  0.751  11.9  32.0  43.8  21.4  8.9  5.3  16.4  21.1  100.5
 17  0.358  ...  0.731  11.4  32.9  44.3  23.7  7.8  4.5  13.9  20.0  100.9
 18  0.346  ...  0.733  11.2  31.2  42.5  22.8  6.9  5.0  14.4  20.3  100.9
 19  0.350  ...  0.756  11.5  34.8  46.3  23.7  9.5  5.5  16.8  20.2  101.0
 20  0.336  ...  0.755  10.9  33.8  44.7  21.9  7.1  5.3  15.1  18.8  101.2
 21  0.380  ...  0.759  11.0  32.5  43.5  21.7  8.0  4.3  14.1  19.1  101.2
 22  0.368  ...  0.751  10.1  33.4  43.5  23.4  7.7  5.4  14.5  17.9  101.4
 23  0.343  ...  0.745  11.2  31.5  42.7  22.1  7.8  4.6  13.6  20.4  101.8
 24  0.364  ...  0.753  12.3  33.9  46.1  22.3  7.3  3.8  16.3  22.1  102.3
 25  0.352  ...  0.759  11.6  33.7  45.3  21.1  7.9  4.1  15.6  20.3  103.3
 26  0.349  ...  0.748  11.0  30.2  41.2  23.3  8.7  6.2  12.9  23.9  105.0
 27  0.346  ...  0.748  11.0  34.1  45.1  23.1  7.5  6.1  14.4  20.7  105.0
 28  0.363  ...  0.745  10.0  34.1  44.2  24.0  7.5  4.8  13.0  19.4  105.3
 29  0.367  ...  0.759  11.6  31.9  43.6  23.6  8.4  5.5  15.2  21.4  106.5
 30  0.350  ...  0.750  10.9  32.4  43.3  22.0  7.7  4.8  14.4  20.2  100.0

 [31 rows x 25 columns],
       Rk                     Team   G     MP    FG   FGA    FG%   3P   3PA  \
 0    1.0   Golden State Warriors*  82  19730  3410  7137  0.478  883  2217
 1    2.0    Los Angeles Clippers*  82  19730  3228  6830  0.473  827  2202
 2    3.0        Dallas Mavericks*  82  19880  3255  7036  0.463  732  2082
 3    4.0         Toronto Raptors*  82  19855  3108  6829  0.455  726  2060
 4    5.0    Oklahoma City Thunder  82  19830  3184  7119  0.447  632  1864
 5    6.0         Houston Rockets*  82  19805  3032  6832  0.444  933  2680
 6    7.0       San Antonio Spurs*  82  19955  3208  6854  0.468  677  1847
 7    8.0     Cleveland Cavaliers*  82  19780  3089  6739  0.458  826  2253
 8    9.0  Portland Trail Blazers*  82  19855  3175  7049  0.450  807  2231
 9   10.0           Atlanta Hawks*  82  19730  3121  6699  0.466  818  2152
 10  11.0             Phoenix Suns  82  19880  3178  7038  0.452  698  2048
 11  12.0           Denver Nuggets  82  19880  3099  7158  0.433  660  2032
 12  13.0          Boston Celtics*  82  19880  3193  7211  0.443  660  2021
 13  14.0         Sacramento Kings  82  19855  3010  6617  0.455  461  1350
 14  15.0           Chicago Bulls*  82  19880  3001  6797  0.442  645  1825
 15  16.0    New Orleans Pelicans*  82  19780  3108  6795  0.457  586  1583
 16  17.0      Washington Wizards*  82  19955  3139  6790  0.462  497  1381
 17  18.0          Detroit Pistons  82  19830  3041  7038  0.432  703  2043
 18  19.0       Los Angeles Lakers  82  19930  3054  7020  0.435  532  1546
 19  20.0       Memphis Grizzlies*  82  19905  3097  6763  0.458  423  1246
 20  21.0           Brooklyn Nets*  82  19930  3069  6804  0.451  541  1633
 21  22.0         Milwaukee Bucks*  82  19930  3083  6722  0.459  545  1500
 22  23.0   Minnesota Timberwolves  82  19805  2986  6820  0.438  406  1223
 23  24.0           Indiana Pacers  82  19855  2998  6824  0.439  612  1740
 24  25.0            Orlando Magic  82  19755  3076  6792  0.453  554  1598
 25  26.0                Utah Jazz  82  19705  2900  6492  0.447  610  1781
 26  27.0               Miami Heat  82  19730  2885  6330  0.456  556  1659
 27  28.0        Charlotte Hornets  82  19905  2913  6932  0.420  498  1566
 28  29.0       Philadelphia 76ers  82  19805  2765  6777  0.408  692  2160
 29  30.0          New York Knicks  82  19855  2882  6726  0.428  560  1614
 30   NaN           League Average  82  19840  3076  6852  0.449  643  1838

       3P%  ...    FT%   ORB   DRB   TRB   AST  STL  BLK   TOV    PF   PTS
 0   0.398  ...  0.768   853  2814  3667  2248  762  496  1185  1628  9016
 1   0.376  ...  0.710   784  2711  3495  2031  640  409  1012  1749  8751
 2   0.352  ...  0.752   858  2608  3466  1846  663  371  1062  1644  8628
 3   0.352  ...  0.787   881  2526  3407  1701  615  357  1057  1712  8527
 4   0.339  ...  0.754  1052  2844  3896  1681  598  454  1205  1829  8524
 5   0.348  ...  0.715   958  2624  3582  1820  777  407  1366  1803  8522
 6   0.367  ...  0.780   806  2772  3578  2000  657  444  1146  1564  8461
 7   0.367  ...  0.751   911  2612  3523  1814  603  340  1171  1510  8457
 8   0.362  ...  0.801   879  2881  3760  1799  525  372  1117  1494  8429
 9   0.380  ...  0.778   715  2611  3326  2111  744  380  1167  1457  8409
 10  0.341  ...  0.760   896  2643  3539  1659  700  385  1238  1744  8397
 11  0.325  ...  0.734  1012  2653  3665  1788  641  367  1166  1882  8320
 12  0.327  ...  0.754   910  2685  3595  2009  674  294  1133  1738  8312

In [21]:
df5[6]

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Los Angeles Clippers*,82,19730,41.5,87.7,0.473,10.6,28.3,0.376,...,0.710,10.1,34.8,44.9,26.1,8.2,5.3,13.0,22.5,112.4
1,2,Golden State Warriors*,82,19730,42.2,88.3,0.478,10.9,27.4,0.398,...,0.768,10.6,34.8,45.4,27.8,9.4,6.1,14.7,20.2,111.6
2,3,Cleveland Cavaliers*,82,19780,40.6,88.6,0.458,10.9,29.6,0.367,...,0.751,12.0,34.3,46.3,23.8,7.9,4.5,15.4,19.8,111.1
3,4,Toronto Raptors*,82,19855,40.5,88.9,0.455,9.5,26.8,0.352,...,0.787,11.5,32.9,44.4,22.1,8.0,4.6,13.8,22.3,111.0
4,5,Dallas Mavericks*,82,19880,41.3,89.3,0.463,9.3,26.4,0.352,...,0.752,10.9,33.1,44.0,23.4,8.4,4.7,13.5,20.9,109.5
5,6,Atlanta Hawks*,82,19730,40.4,86.7,0.466,10.6,27.9,0.380,...,0.778,9.3,33.8,43.1,27.3,9.6,4.9,15.1,18.9,108.9
6,7,San Antonio Spurs*,82,19955,41.1,87.9,0.468,8.7,23.7,0.367,...,0.780,10.3,35.6,45.9,25.7,8.4,5.7,14.7,20.1,108.5
7,8,New Orleans Pelicans*,82,19780,41.3,90.2,0.457,7.8,21.0,0.370,...,0.751,12.5,34.8,47.3,24.0,7.3,6.8,14.4,20.3,108.2
8,9,Portland Trail Blazers*,82,19855,40.7,90.4,0.450,10.4,28.6,0.362,...,0.801,11.3,37.0,48.2,23.1,6.7,4.8,14.3,19.2,108.2
9,10,Oklahoma City Thunder,82,19830,40.3,90.0,0.447,8.0,23.6,0.339,...,0.754,13.3,36.0,49.3,21.3,7.6,5.7,15.2,23.1,107.8
10,11,Chicago Bulls*,82,19880,39.0,88.4,0.442,8.4,23.7,0.353,...,0.783,12.5,36.3,48.8,23.2,6.7,6.2,14.9,19.5,107.5
11,12,Houston Rockets*,82,19805,38.1,85.8,0.444,11.7,33.6,0.348,...,0.715,12.0,32.9,45.0,22.8,9.8,5.1,17.1,22.6,107.0
12,13,Memphis Grizzlies*,82,19905,40.6,88.7,0.458,5.5,16.3,0.339,...,0.773,11.2,34.5,45.8,23.3,9.2,4.5,14.3,20.5,105.7
13,14,Detroit Pistons,82,19830,39.7,91.8,0.432,9.2,26.6,0.344,...,0.703,13.7,34.3,48.0,23.1,8.1,5.0,14.3,20.3,105.3
14,15,Sacramento Kings,82,19855,38.2,83.9,0.455,5.8,17.1,0.341,...,0.762,11.3,34.6,45.9,21.1,7.0,4.1,16.9,21.5,105.3
15,16,Phoenix Suns,82,19880,39.8,88.3,0.452,8.8,25.7,0.341,...,0.760,11.2,33.1,44.4,20.8,8.8,4.8,15.5,21.9,105.3
16,17,Utah Jazz,82,19705,39.1,87.5,0.447,8.2,24.0,0.343,...,0.721,13.3,35.3,48.6,22.0,8.4,6.6,16.9,21.3,105.1
17,18,Boston Celtics*,82,19880,40.2,90.8,0.443,8.3,25.5,0.327,...,0.754,11.5,33.8,45.3,25.3,8.5,3.7,14.3,21.9,104.7
18,19,Denver Nuggets,82,19880,38.9,89.9,0.433,8.3,25.5,0.325,...,0.734,12.7,33.3,46.0,22.5,8.1,4.6,14.6,23.6,104.5
19,20,Brooklyn Nets*,82,19930,39.9,88.4,0.451,7.0,21.2,0.331,...,0.748,11.0,34.1,45.1,22.3,7.5,4.4,14.7,20.5,104.4
20,21,Miami Heat,82,19730,38.6,84.7,0.456,7.4,22.2,0.335,...,0.741,10.0,32.9,42.9,21.8,8.6,5.0,16.2,21.9,103.9
21,22,Washington Wizards*,82,19955,40.3,87.2,0.462,6.4,17.7,0.360,...,0.742,11.1,36.0,47.0,25.3,7.7,4.9,15.8,21.9,103.7
22,23,Indiana Pacers,82,19855,38.9,88.5,0.439,7.9,22.6,0.352,...,0.756,11.1,36.6,47.7,22.8,6.6,4.9,14.9,22.6,103.5
23,24,Los Angeles Lakers,82,19930,39.1,89.9,0.435,6.8,19.8,0.344,...,0.741,12.2,33.9,46.1,22.0,7.4,4.7,13.9,22.3,103.4
24,25,Minnesota Timberwolves,82,19805,38.3,87.5,0.438,5.2,15.7,0.332,...,0.776,12.2,30.9,43.1,22.7,8.6,4.2,15.8,20.2,102.9
25,26,Milwaukee Bucks*,82,19930,39.5,86.0,0.459,7.0,19.2,0.363,...,0.757,11.2,32.9,44.2,24.7,10.1,5.2,17.6,23.2,102.7
26,27,Orlando Magic,82,19755,39.8,87.9,0.453,7.2,20.7,0.347,...,0.729,10.6,33.7,44.4,21.9,8.4,4.1,15.8,22.2,101.6
27,28,Charlotte Hornets,82,19905,37.8,89.9,0.420,6.5,20.3,0.318,...,0.748,10.6,36.2,46.9,21.5,6.5,5.8,12.7,19.4,100.1
28,29,New York Knicks,82,19855,38.2,89.2,0.428,7.4,21.4,0.347,...,0.769,11.5,32.4,43.9,23.1,7.6,5.1,16.0,23.4,99.9
29,30,Philadelphia 76ers,82,19805,35.0,85.8,0.408,8.8,27.3,0.320,...,0.676,12.4,32.1,44.5,21.3,10.0,6.2,18.4,22.5,95.5

In [22]:
df5[2]

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1.0,Golden State Warriors*,82,240.6,41.6,87.0,0.478,10.8,27.0,0.398,...,0.768,10.4,34.3,44.7,27.4,9.3,6.0,14.5,19.9,110.0
1,2.0,Los Angeles Clippers*,82,240.6,39.4,83.3,0.473,10.1,26.9,0.376,...,0.710,9.6,33.1,42.6,24.8,7.8,5.0,12.3,21.3,106.7
2,3.0,Dallas Mavericks*,82,242.4,39.7,85.8,0.463,8.9,25.4,0.352,...,0.752,10.5,31.8,42.3,22.5,8.1,4.5,13.0,20.0,105.2
3,4.0,Oklahoma City Thunder,82,241.8,38.8,86.8,0.447,7.7,22.7,0.339,...,0.754,12.8,34.7,47.5,20.5,7.3,5.5,14.7,22.3,104.0
4,5.0,Toronto Raptors*,82,242.1,37.9,83.3,0.455,8.9,25.1,0.352,...,0.787,10.7,30.8,41.5,20.7,7.5,4.4,12.9,20.9,104.0
5,6.0,Houston Rockets*,82,241.5,37.0,83.3,0.444,11.4,32.7,0.348,...,0.715,11.7,32.0,43.7,22.2,9.5,5.0,16.7,22.0,103.9
6,7.0,San Antonio Spurs*,82,243.4,39.1,83.6,0.468,8.3,22.5,0.367,...,0.780,9.8,33.8,43.6,24.4,8.0,5.4,14.0,19.1,103.2
7,8.0,Cleveland Cavaliers*,82,241.2,37.7,82.2,0.458,10.1,27.5,0.367,...,0.751,11.1,31.9,43.0,22.1,7.4,4.1,14.3,18.4,103.1
8,9.0,Portland Trail Blazers*,82,242.1,38.7,86.0,0.450,9.8,27.2,0.362,...,0.801,10.7,35.1,45.9,21.9,6.4,4.5,13.6,18.2,102.8
9,10.0,Atlanta Hawks*,82,240.6,38.1,81.7,0.466,10.0,26.2,0.380,...,0.778,8.7,31.8,40.6,25.7,9.1,4.6,14.2,17.8,102.5
10,11.0,Phoenix Suns,82,242.4,38.8,85.8,0.452,8.5,25.0,0.341,...,0.760,10.9,32.2,43.2,20.2,8.5,4.7,15.1,21.3,102.4
11,12.0,Denver Nuggets,82,242.4,37.8,87.3,0.433,8.0,24.8,0.325,...,0.734,12.3,32.4,44.7,21.8,7.8,4.5,14.2,23.0,101.5
12,13.0,Boston Celtics*,82,242.4,38.9,87.9,0.443,8.0,24.6,0.327,...,0.754,11.1,32.7,43.8,24.5,8.2,3.6,13.8,21.2,101.4
13,14.0,Sacramento Kings,82,242.1,36.7,80.7,0.455,5.6,16.5,0.341,...,0.762,10.9,33.3,44.2,20.3,6.7,4.0,16.3,20.7,101.3
14,15.0,Chicago Bulls*,82,242.4,36.6,82.9,0.442,7.9,22.3,0.353,...,0.783,11.7,34.0,45.7,21.7,6.3,5.8,14.0,18.2,100.8
15,16.0,New Orleans Pelicans*,82,241.2,37.9,82.9,0.457,7.1,19.3,0.370,...,0.751,11.5,32.0,43.5,22.0,6.7,6.2,13.3,18.7,99.4
16,17.0,Washington Wizards*,82,243.4,38.3,82.8,0.462,6.1,16.8,0.360,...,0.742,10.5,34.2,44.7,24.0,7.3,4.6,15.0,20.8,98.5
17,18.0,Los Angeles Lakers,82,243.0,37.2,85.6,0.435,6.5,18.9,0.344,...,0.741,11.6,32.3,43.9,20.9,7.0,4.5,13.2,21.2,98.5
18,19.0,Detroit Pistons,82,241.8,37.1,85.8,0.432,8.6,24.9,0.344,...,0.703,12.8,32.1,44.9,21.6,7.6,4.7,13.4,19.0,98.5
19,20.0,Memphis Grizzlies*,82,242.7,37.8,82.5,0.458,5.2,15.2,0.339,...,0.773,10.4,32.1,42.6,21.7,8.5,4.2,13.3,19.1,98.3
20,21.0,Brooklyn Nets*,82,243.0,37.4,83.0,0.451,6.6,19.9,0.331,...,0.748,10.3,32.0,42.4,20.9,7.0,4.1,13.8,19.3,98.0
21,22.0,Minnesota Timberwolves,82,241.5,36.4,83.2,0.438,5.0,14.9,0.332,...,0.776,11.6,29.3,40.9,21.6,8.1,4.0,15.0,19.2,97.8
22,23.0,Milwaukee Bucks*,82,243.0,37.6,82.0,0.459,6.6,18.3,0.363,...,0.757,10.7,31.4,42.1,23.6,9.6,4.9,16.7,22.1,97.8
23,24.0,Indiana Pacers,82,242.1,36.6,83.2,0.439,7.5,21.2,0.352,...,0.756,10.4,34.4,44.9,21.4,6.2,4.6,14.0,21.2,97.3
24,25.0,Orlando Magic,82,240.9,37.5,82.8,0.453,6.8,19.5,0.347,...,0.729,10.0,31.8,41.8,20.6,7.9,3.8,14.9,20.9,95.7
25,26.0,Utah Jazz,82,240.3,35.4,79.2,0.447,7.4,21.7,0.343,...,0.721,12.0,31.9,44.0,19.9,7.6,6.0,15.3,19.3,95.1
26,27.0,Miami Heat,82,240.6,35.2,77.2,0.456,6.8,20.2,0.335,...,0.741,9.1,30.0,39.1,19.8,7.8,4.5,14.8,20.0,94.7
27,28.0,Charlotte Hornets,82,242.7,35.5,84.5,0.420,6.1,19.1,0.318,...,0.748,10.0,34.1,44.1,20.2,6.1,5.5,11.9,18.2,94.2
28,29.0,Philadelphia 76ers,82,241.5,33.7,82.6,0.408,8.4,26.3,0.320,...,0.676,11.9,30.9,42.9,20.5,9.6,5.9,17.7,21.7,92.0
29,30.0,New York Knicks,82,242.1,35.1,82.0,0.428,6.8,19.7,0.347,...,0.769,10.6,29.8,40.4,21.3,7.0,4.7,14.7,21.6,91.9
30,NaN,League Average,82,242.0,37.5,83.6,0.449,7.8,22.4,0.350,...,0.750,10.9,32.4,43.3,22.0,7.7,4.8,14.4,20.2,100.0

In [23]:
pd.read_json('example.json')

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [25]:
df = pd.read_csv('ABC.csv')
df

,Unnamed: 0,Eastern Conference,W,L,W/L%,GB,PS/G,PA/G,SRS
0,0,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division
1,1,Toronto Raptors*,49,33,.598,—,104.0,100.9,2.45
2,2,Boston Celtics*,40,42,.488,9.0,101.4,101.2,-0.40
3,3,Brooklyn Nets*,38,44,.463,11.0,98.0,100.9,-3.13
4,4,Philadelphia 76ers,18,64,.220,31.0,92.0,101.0,-9.04
5,5,New York Knicks,17,65,.207,32.0,91.9,101.2,-9.50
6,6,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division
7,7,Cleveland Cavaliers*,53,29,.646,—,103.1,98.7,4.08
8,8,Chicago Bulls*,50,32,.610,3.0,100.8,97.8,2.54
9,9,Milwaukee Bucks*,41,41,.500,12.0,97.8,97.4,-0.09
10,10,Indiana Pacers,38,44,.463,15.0,97.3,97.0,-0.23
11,11,Detroit Pistons,32,50,.390,21.0,98.5,99.5,-1.39
12,12,Southeast Division,Southeast Division,Southeast Division,Southeast Division,Southeast Division,Southeast Division,Southeast Division,Southeast Division
13,13,Atlanta Hawks*,60,22,.732,—,102.5,97.1,4.75
14,14,Washington Wizards*,46,36,.561,14.0,98.5,97.8,0.17
15,15,Miami Heat,37,45,.451,23.0,94.7,97.3,-2.92
16,16,Charlotte Hornets,33,49,.402,27.0,94.2,97.3,-3.44
17,17,Orlando Magic,25,57,.305,35.0,95.7,101.4,-5.87

In [26]:
df.head()

,Unnamed: 0,Eastern Conference,W,L,W/L%,GB,PS/G,PA/G,SRS
0,0,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division
1,1,Toronto Raptors*,49,33,.598,—,104.0,100.9,2.45
2,2,Boston Celtics*,40,42,.488,9.0,101.4,101.2,-0.40
3,3,Brooklyn Nets*,38,44,.463,11.0,98.0,100.9,-3.13
4,4,Philadelphia 76ers,18,64,.220,31.0,92.0,101.0,-9.04

In [27]:
df.tail()

    Unnamed: 0   Eastern Conference   W   L  W/L%    GB   PS/G   PA/G    SRS
13          13       Atlanta Hawks*  60  22  .732     —  102.5   97.1   4.75
14          14  Washington Wizards*  46  36  .561  14.0   98.5   97.8   0.17
15          15           Miami Heat  37  45  .451  23.0   94.7   97.3  -2.92
16          16    Charlotte Hornets  33  49  .402  27.0   94.2   97.3  -3.44
17          17        Orlando Magic  25  57  .305  35.0   95.7  101.4  -5.87

In [28]:
df.head(2)

,Unnamed: 0,Eastern Conference,W,L,W/L%,GB,PS/G,PA/G,SRS
0,0,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division
1,1,Toronto Raptors*,49,33,.598,—,104.0,100.9,2.45

In [29]:
df.head(9)

,Unnamed: 0,Eastern Conference,W,L,W/L%,GB,PS/G,PA/G,SRS
0,0,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division
1,1,Toronto Raptors*,49,33,.598,—,104.0,100.9,2.45
2,2,Boston Celtics*,40,42,.488,9.0,101.4,101.2,-0.40
3,3,Brooklyn Nets*,38,44,.463,11.0,98.0,100.9,-3.13
4,4,Philadelphia 76ers,18,64,.220,31.0,92.0,101.0,-9.04
5,5,New York Knicks,17,65,.207,32.0,91.9,101.2,-9.50
6,6,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division
7,7,Cleveland Cavaliers*,53,29,.646,—,103.1,98.7,4.08
8,8,Chicago Bulls*,50,32,.610,3.0,100.8,97.8,2.54

In [30]:
df.tail(7)

,Unnamed: 0,Eastern Conference,W,L,W/L%,GB,PS/G,PA/G,SRS
11,11,Detroit Pistons,32,50,.390,21.0,98.5,99.5,-1.39
12,12,Southeast Division,Southeast Division,Southeast Division,Southeast Division,Southeast Division,Southeast Division,Southeast Division,Southeast Division
13,13,Atlanta Hawks*,60,22,.732,—,102.5,97.1,4.75
14,14,Washington Wizards*,46,36,.561,14.0,98.5,97.8,0.17
15,15,Miami Heat,37,45,.451,23.0,94.7,97.3,-2.92
16,16,Charlotte Hornets,33,49,.402,27.0,94.2,97.3,-3.44
17,17,Orlando Magic,25,57,.305,35.0,95.7,101.4,-5.87

In [31]:
df.head(11)

,Unnamed: 0,Eastern Conference,W,L,W/L%,GB,PS/G,PA/G,SRS
0,0,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division
1,1,Toronto Raptors*,49,33,.598,—,104.0,100.9,2.45
2,2,Boston Celtics*,40,42,.488,9.0,101.4,101.2,-0.40
3,3,Brooklyn Nets*,38,44,.463,11.0,98.0,100.9,-3.13
4,4,Philadelphia 76ers,18,64,.220,31.0,92.0,101.0,-9.04
5,5,New York Knicks,17,65,.207,32.0,91.9,101.2,-9.50
6,6,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division
7,7,Cleveland Cavaliers*,53,29,.646,—,103.1,98.7,4.08
8,8,Chicago Bulls*,50,32,.610,3.0,100.8,97.8,2.54
9,9,Milwaukee Bucks*,41,41,.500,12.0,97.8,97.4,-0.09
10,10,Indiana Pacers,38,44,.463,15.0,97.3,97.0,-0.23

In [32]:
df = pd.read_csv('ABC.csv')
df.head()

,Unnamed: 0,Eastern Conference,W,L,W/L%,GB,PS/G,PA/G,SRS
0,0,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division
1,1,Toronto Raptors*,49,33,.598,—,104.0,100.9,2.45
2,2,Boston Celtics*,40,42,.488,9.0,101.4,101.2,-0.40
3,3,Brooklyn Nets*,38,44,.463,11.0,98.0,100.9,-3.13
4,4,Philadelphia 76ers,18,64,.220,31.0,92.0,101.0,-9.04

In [35]:
df = pd.read_csv('ABC.csv', header=None)
df.head()

,0,1,2,3,4,5,6,7,8
0,NaN,Eastern Conference,W,L,W/L%,GB,PS/G,PA/G,SRS
1,0.0,Atlantic Division,Atlantic Division,Atlantic Division,NaN,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division
2,1.0,Toronto Raptors*,49,NaN,0.598,—,104,100.9,2.45
3,2.0,Boston Celtics*,40,42,0.488,9,101.4,101.2,-0.4
4,3.0,Brooklyn Nets*,38,44,0.463,11,98,100.9,-3.13

In [36]:
df = pd.read_csv('ABC.csv', header=2)
df.head()

,1,Toronto Raptors*,49,Unnamed: 3,0.598,—,104,100.9,2.45
0,2,Boston Celtics*,40,42,0.488,9,101.4,101.2,-0.4
1,3,Brooklyn Nets*,38,44,0.463,11,98,100.9,-3.13
2,4,Philadelphia 76ers,18,64,0.22,31,92,101,-9.04
3,5,New York Knicks,17,65,0.207,32,91.9,101.2,-9.5
4,6,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division

In [39]:
df = pd.read_csv('ABC.csv', header=3)
df.head()

,2,Boston Celtics*,40,42,0.488,9,101.4,101.2,-0.4
0,3,Brooklyn Nets*,38,44,0.463,11,98,100.9,-3.13
1,4,Philadelphia 76ers,18,64,0.22,31,92,101,-9.04
2,5,New York Knicks,17,65,0.207,32,91.9,101.2,-9.5
3,6,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division
4,7,Cleveland Cavaliers*,53,29,0.646,—,103.1,98.7,4.08

In [37]:
df = pd.read_csv('ABC.csv')
df.head()

,Unnamed: 0,Eastern Conference,W,L,W/L%,GB,PS/G,PA/G,SRS
0,0,Atlantic Division,Atlantic Division,Atlantic Division,NaN,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division
1,1,Toronto Raptors*,49,NaN,0.598,—,104,100.9,2.45
2,2,Boston Celtics*,40,42,0.488,9,101.4,101.2,-0.4
3,3,Brooklyn Nets*,38,44,0.463,11,98,100.9,-3.13
4,4,Philadelphia 76ers,18,64,0.22,31,92,101,-9.04

In [38]:
pd.read_csv(r'C:\Users\Datamites\Desktop\23 JAN WDM\CDS-03-Pandas\Examples for file reading-02\ABC.csv')

,Unnamed: 0,Eastern Conference,W,L,W/L%,GB,PS/G,PA/G,SRS
0,0,Atlantic Division,Atlantic Division,Atlantic Division,NaN,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division
1,1,Toronto Raptors*,49,NaN,0.598,—,104,100.9,2.45
2,2,Boston Celtics*,40,42,0.488,9,101.4,101.2,-0.4
3,3,Brooklyn Nets*,38,44,0.463,11,98,100.9,-3.13
4,4,Philadelphia 76ers,18,64,0.22,31,92,101,-9.04
5,5,New York Knicks,17,65,0.207,32,91.9,101.2,-9.5
6,6,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division
7,7,Cleveland Cavaliers*,53,29,0.646,—,103.1,98.7,4.08
8,8,Chicago Bulls*,50,32,0.61,3,100.8,97.8,2.54
9,9,Milwaukee Bucks*,41,41,0.5,12,97.8,97.4,-0.09
10,10,Indiana Pacers,38,44,0.463,15,97.3,97,-0.23
11,11,Detroit Pistons,32,50,0.39,21,98.5,99.5,-1.39
12,12,Southeast Division,Southeast Division,Southeast Division,Southeast Division,Southeast Division,Southeast Division,Southeast Division,Southeast Division
13,13,Atlanta Hawks*,60,22,0.732,—,102.5,97.1,4.75
14,14,Washington Wizards*,46,36,0.561,14,98.5,97.8,0.17
15,15,Miami Heat,37,45,0.451,23,94.7,97.3,-2.92
16,16,Charlotte Hornets,33,49,0.402,27,94.2,97.3,-3.44
17,17,Orlando Magic,25,57,0.305,35,95.7,101.4,-5.87

In [40]:
df = pd.read_csv('ABC.csv', index_col='Eastern Conference')
df.head()

,Unnamed: 0,W,L,W/L%,GB,PS/G,PA/G,SRS
Eastern Conference,,,,,,,,
Atlantic Division,0,Atlantic Division,Atlantic Division,NaN,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division
Toronto Raptors*,1,49,NaN,0.598,—,104,100.9,2.45
Boston Celtics*,2,40,42,0.488,9,101.4,101.2,-0.4
Brooklyn Nets*,3,38,44,0.463,11,98,100.9,-3.13
Philadelphia 76ers,4,18,64,0.22,31,92,101,-9.04

In [44]:
df = pd.read_csv('ABC.csv', index_col=0)
df.head()

,Eastern Conference,W,L,W/L%,GB,PS/G,PA/G,SRS
0,Atlantic Division,Atlantic Division,Atlantic Division,NaN,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division
1,Toronto Raptors*,49,NaN,0.598,—,104,100.9,2.45
2,Boston Celtics*,40,42,0.488,9,101.4,101.2,-0.4
3,Brooklyn Nets*,38,44,0.463,11,98,100.9,-3.13
4,Philadelphia 76ers,18,64,0.22,31,92,101,-9.04

In [47]:
df7 = pd.read_csv('ABC.csv', header = 2, index_col=3)
df7.head()

,1,Toronto Raptors*,49,0.598,—,104,100.9,2.45
42,2,Boston Celtics*,40,0.488,9,101.4,101.2,-0.4
44,3,Brooklyn Nets*,38,0.463,11,98,100.9,-3.13
64,4,Philadelphia 76ers,18,0.22,31,92,101,-9.04
65,5,New York Knicks,17,0.207,32,91.9,101.2,-9.5
Central Division,6,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division

In [50]:
df7 = pd.read_csv('ABC.csv')
df7.head()

,Unnamed: 0,Eastern Conference,W,L,W/L%,GB,PS/G,PA/G,SRS
0,0,Atlantic Division,Atlantic Division,Atlantic Division,NaN,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division
1,1,Toronto Raptors*,49,NaN,0.598,—,104,100.9,2.45
2,2,Boston Celtics*,40,42,0.488,9,101.4,101.2,-0.4
3,3,Brooklyn Nets*,38,44,0.463,11,98,100.9,-3.13
4,4,Philadelphia 76ers,18,64,0.22,31,92,101,-9.04

In [51]:
df7 = pd.read_csv('ABC.csv', index_col=False)
df7.head()

,Unnamed: 0,Eastern Conference,W,L,W/L%,GB,PS/G,PA/G,SRS
0,0,Atlantic Division,Atlantic Division,Atlantic Division,NaN,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division
1,1,Toronto Raptors*,49,NaN,0.598,—,104,100.9,2.45
2,2,Boston Celtics*,40,42,0.488,9,101.4,101.2,-0.4
3,3,Brooklyn Nets*,38,44,0.463,11,98,100.9,-3.13
4,4,Philadelphia 76ers,18,64,0.22,31,92,101,-9.04

In [48]:
df7.to_csv('ABCDE.csv')

In [49]:
df7.to_excel('ABCD.xlsx')

In [52]:
df9 = pd.read_csv('ex5.csv')
df9

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [53]:
df9.isnull()

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [54]:
df9.isnull().sum()

something    0
a            0
b            0
c            1
d            0
message      1
dtype: int64

In [55]:
df10 = pd.read_csv('ABC.csv')
df10.head()

,Unnamed: 0,Eastern Conference,W,L,W/L%,GB,PS/G,PA/G,SRS
0,0,Atlantic Division,Atlantic Division,Atlantic Division,NaN,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division
1,1,Toronto Raptors*,49,NaN,0.598,—,104,100.9,2.45
2,2,Boston Celtics*,40,42,0.488,9,101.4,101.2,-0.4
3,3,Brooklyn Nets*,38,44,0.463,11,98,100.9,-3.13
4,4,NaN,18,64,NaN,31,92,101,-9.04

In [56]:
df10.isnull()

,Unnamed: 0,Eastern Conference,W,L,W/L%,GB,PS/G,PA/G,SRS
0,False,False,False,False,True,False,False,False,False
1,False,False,False,True,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,True,False,False,True,False,False,False,False
5,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False
7,False,False,True,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False
10,False,False,False,False,True,False,True,False,False
11,False,False,False,False,False,False,False,False,True
12,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False
15,False,True,False,False,True,False,False,False,False
16,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False

In [57]:
df10.isnull().sum()

Unnamed: 0            0
Eastern Conference    2
W                     1
L                     1
W/L%                  4
GB                    0
PS/G                  1
PA/G                  0
SRS                   1
dtype: int64