# loops

# while loop

In [1]:
i=0
while i<10:
    print('hello')
    i=i+1

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [2]:
i=1
while i<=10:
    print('hello , ',i)
    i=i+1

hello ,  1
hello ,  2
hello ,  3
hello ,  4
hello ,  5
hello ,  6
hello ,  7
hello ,  8
hello ,  9
hello ,  10

In [3]:
i=10
while i>=0:
    print('hello')
    i=i-1

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [4]:
i=1
while i<6:
    print('True')
    i+=1
else:
    print('now the condition is false')

True
True
True
True
True
now the condition is false

In [6]:
i=1
while i<=10:
    a=i*2
    print(a)
    i=i+1

2
4
6
8
10
12
14
16
18
20

# for loop

In [7]:
l1=[2,3,5,6,7,8]

In [8]:
for i in l1:
    print(i)

2
3
5
6
7
8

In [9]:
str1='Hello Python'

In [10]:
for i in str1:
    print(i)

H
e
l
l
o

P
y
t
h
o
n

In [11]:
s1={'hi','data','science'}

In [15]:
s1

{'data', 'hi', 'science'}

In [14]:
for i in s1:
    print(i)

science
data
hi

In [16]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [17]:
for i in range(3,10):
    print(i)

3
4
5
6
7
8
9

In [18]:
for i in range(2,11,2):
    print(i)

2
4
6
8
10

In [19]:
l2=['apple','bananna','mango','pineapple']
l3=['blue','green','white','red']

In [20]:
for i in l2:
    for j in l3:
        print(i,j)

apple blue
apple green
apple white
apple red
bananna blue
bananna green
bananna white
bananna red
mango blue
mango green
mango white
mango red
pineapple blue
pineapple green
pineapple white
pineapple red

In [21]:
t1=[2,3,4,5]
t2=[1,2,3,4,5,6,7,8,9,10]

In [24]:
for i in t1:
    for j in t2:
        print(i,'*',j,'=',i*j)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [25]:
for i in range(2,6):
    for j in range(1,11):
        print(i,'*',j,'=',i*j)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [26]:
l4=[34,56,45,567,68,4,6,354,345,3]

In [27]:
for i in l4:
    if i%2==0:
        print(i, ': even')
    else:
        print(i , ': odd')

34 : even
56 : even
45 : odd
567 : odd
68 : even
4 : even
6 : even
354 : even
345 : odd
3 : odd

In [28]:
for i in l4:
    if i%2==0:
        print(i,'even')
    else:
        print(i,'odd')

34 even
56 even
45 odd
567 odd
68 even
4 even
6 even
354 even
345 odd
3 odd