# Python Operators

Operators are special symbols in Python which are used to perform operations on variables/values.

## Arithmetic Operators

In [1]:
a=5
b=2
x='Data'
y ='Science'

In [2]:
#  Addition
c = a + b
print('Addition  of  {}  and  {}  will  give  :-  {}\n'.format(a,b,c))

Addition  of  5  and  2  will  give  :-  7

In [3]:
#Concatenate string using plus operator
z = x+y
print(z)

DataScience

In [4]:
# Subtraction
c = a - b
print('Subtracting  {}  from  {}  will  give  :-  {}\n'.format(b,a,c))

Subtracting  2  from  5  will  give  :-  3

In [5]:
# Multiplication
c = a * b
print('Multiplying  {}  and  {}  will  give  :-  {}\n'.format(a,b,c))

Multiplying  5  and  2  will  give  :-  10

In [6]:
# Division
c = a / b
print('Dividing  {}  by  {}  will  give  :-  {}\n'.format(a,b,c))

Dividing  5  by  2  will  give  :-  2.5

In [7]:
# Modulo of both number
c = a % b
print('Modulo  of  {}  ,  {}  will  give  :-  {}\n'.format(a,b,c))

Modulo  of  5  ,  2  will  give  :-  1

In [8]:
# Power
c = a ** b
print('{}  raised  to  the  power  {}  will  give  :-  {}\n'.format(a,b,c))

5  raised  to  the  power  2  will  give  :-  25

In [9]:
# Division(floor)
c = a // b
print('Floor  division  of  {}  by  {}  will  give  :-  {}\n'.format(a,b,c))

Floor  division  of  5  by  2  will  give  :-  2

## Comparison Operators

In [10]:
x  = 20
y  = 30

print('Is  x  greater  than  y  :-  ',x>y)
print('Is  x  less  than    y  :-  ',x<y)
print('Is  x  equal  to    y  :-  ',x==y)
print('Is  x  not  equal  to  y  :-  ',x!=y)
print('Is  x  greater  than  or  equal  to  y  :-  ',x>=y)
print('Is  x  less  than  or  equal  to  y  :-  ',x<=y)

Is  x  greater  than  y  :-   False
Is  x  less  than    y  :-   True
Is  x  equal  to    y  :-   False
Is  x  not  equal  to  y  :-   True
Is  x  greater  than  or  equal  to  y  :-   False
Is  x  less  than  or  equal  to  y  :-   True

In [67]:
a = 'Data'
b = 'Science'
c = 'Data'

print(a == b)
print(a ==c) 
print(a != b # Comparison operators on string

False
True
True

## Logical Operators

In [12]:
x = True
y = False

print('Logical  AND  operation  :-  ',x  and  y)  #  True  if  both  values  are  true
print('Logical  OR  operation  :-  ',x  or  y)  #  True  if  either  of  the  values  is  true
print('NOT  operation  :-  ',not  y  )  #  True  if  operand  is  false

Logical  AND  operation  :-   False
Logical  OR  operation  :-   True
NOT  operation  :-   True

## Bitwise operators

Bitwise operators act on bits and performs bit by bit operation

In [13]:
x = 18# binary form 10010
y = 6# binary form 00110

print('Bitwise  AND  operation  -  {}'.format(x&y))
print('Bitwise OR operation - {}'.format(x|y))

Bitwise  AND  operation  -  2
Bitwise OR operation - 22

# If  conditional statement

* A Python if statement evaluates whether a condition is equal to true or false.
* The statement will execute a block of code if a specified condition is equal to true. Otherwise, the block of code within the if statement is not executed

In [14]:
x=2
if x==2: # If condition is true
    print('The if condition is true')

The if condition is true

In [15]:
x=5
if x==2: # If condition is false
    print('The if condition is true')

In [16]:
x=5
if x==2: # If condition is false
    print('The if condition is true')
else:
    print('Else part is executed')

Else part is executed

In [17]:
x=-23
if(x>0):
    print('i am in if block')
else:
    print('i am not')

i am not

In [18]:
if(5<4):
    print('5 is big')
    print('i am in if block')



print('i am out of if block')

i am out of if block

In [19]:
x = 5

if x>0:
    print("X is positive")
    print("i am in IF block")

print("i am  out of IF block")

X is positive
i am in IF block
i am  out of IF block

In [20]:
# if ... else

x = -5

if x>0:
    print("X is positive")
    print("i am in IF block")
else:
    print("X is Negative")
    print('i am in else block')

print("i am  out of IF block")

X is Negative
i am in else block
i am  out of IF block

In [21]:
x=5
if(x>10):
    print('i am in if block')
elif(x<6):   # elif will help in checking more than 1 if condition
    print('i am in elif block')
else:
    print('i am in else block')

i am in elif block

In [22]:
# if... elif ... else
x =int(input('enter the number'))

if x>0:
    print("X is positive")
elif x<0:
    print("X is Negative")
    print('i am in elif block')
else:
    print("X is Zero")
    print('i am in else block')

print('outside of the loop')

enter the number10
X is positive
outside of the loop

In [23]:
## Nesting
x=2
if(x>=3):
    print('i am in 1st if')
    if(x>2):
        print('i am in 2nd if')
        if(x==4):
            print('i am in 3rd if ')

In [24]:
i=2
if(i>0):
    print('first loop')
    if(i<=5):
        print('secound loop')
        print('number is in primary range')
        if(i>5):
            print('mid range')
        else:
            print('end of the loop')
else:
    print('number is negative')

print('out of the nested loop')

first loop
secound loop
number is in primary range
end of the loop
out of the nested loop

In [25]:
i = 10
if (i == 10):

    #  First if statement
    if (i < 15):
        print("i is smaller than 15")

    # Nested - if statement
    # Will only be executed if statement above
    # it is true
    if (i < 12):
        print("i is smaller than 12 too")
    else:
        print("i is greater than 15")

i is smaller than 15
i is smaller than 12 too

# Input function

In [26]:
a=input('Enter your name:')

Enter your name:mansi

In [27]:
a

'mansi'

In [68]:
b=int(input('Enter your marks:'))

Enter your marks:mansi

ValueError: invalid literal for int() with base 10: 'mansi'

In [29]:
b

90

# Packages

Packages are software which holds certain functionalities to work on.In python we have many builtin packages which we will be
using.

Packages contains moduled and submodules.

Each and every module and submodule can be used independently by using certain keywords.

So lets assume we want to build a software where we need 4 functionalities like A,B,C,D.So you cannot go directly and we the build the software,you need to breal down this into logical smaller parts.So lets say A and C are have similar types of functionality  and B and D takes similar type of functionality so we will group them under same module.

![image.png](attachment:image.png)

Modules and submodules provide very efficient way of writing code.If you want to make changes in A,you need to disturb any modules,you can go ahead and make the chnages.

Modules also provide code resuibilty.If we wnat to develope new software which uses only A and D,they can be used.

# Datetime package

In Python, date and time are not a data type of their own, but a module named datetime can be imported to work with the date as well as time. Python Datetime module comes built into Python, so there is no need to install it externally.

1)date – An idealized naive date, assuming the current Gregorian calendar always was, and always will be, in effect. Its attributes are year, month and day.


2)time – An idealized time, independent of any particular day, assuming that every day has exactly 24*60*60 seconds. Its attributes are hour, minute, second, microsecond

3)datetime – Its a combination of date and time along with the attributes year, month, day, hour, minute, second, microsecond

4)timedelta – A duration expressing the difference between two date, time, or datetime instances to microsecond resolution.

In [30]:
from datetime import date

In [31]:
my_date = date(1996, 12, 11) ## Simple date creation

In [32]:
my_date

datetime.date(1996, 12, 11)

In [33]:
# Getting today's date
today1 = date.today()

print("Today's date is", today1)

Today's date is 2023-09-19

In [34]:
# Get Today’s Year, Month, and Date

print("Current year:", today1.year)
print("Current month:", today1.month)
print("Current day:", today1.day)

Current year: 2023
Current month: 9
Current day: 19

In [35]:
# Get date from datetime sub module
from datetime import datetime as dt

date1=dt.now()
date1

datetime.datetime(2023, 9, 19, 20, 54, 43, 573929)

In [36]:
dt.date(date1)

datetime.date(2023, 9, 19)

In [37]:
date1.day

19

In [38]:
date1.hour

20

In [39]:
date1.isoweekday()

2

In [40]:
date1.month

9

In [41]:
# Time submodule

from datetime import time

In [42]:
my_time = time(12, 24, 56)

print("Entered time", my_time)

Entered time 12:24:56

In [43]:
# Timedelta function demonstration

from datetime import date, timedelta

current_time = date.today()

# printing initial_date
print("initial_date", str(current_time))

# Calculating future dates
# for 730 days
future_date_after_2yrs = current_time + timedelta(days=730)
future_date_after_2yrs

initial_date 2023-09-19

datetime.date(2025, 9, 18)

In [44]:
## Task:-Calculate your age after 5000 days.The output should be in years

# Data Structures of Python

In [45]:
a=23,24

In [46]:
a

(23, 24)

There are 4 major ds in python

1)List
2)Tuple
3)Dictonary
4)Sets

## List

1)	List is an ordered sequence of items.

2)	We can have different data types under a list. E.g we can have integer, float and string items in a same list.

In [47]:
# List creation

l1=[] # Empty list
type(l1)

list

In [48]:
l2=list([1,2,3,4]) # List of integer
l2

[1, 2, 3, 4]

In [49]:
l3=[12.3,34.5,56.23,5.3]  # List of float

In [50]:
l4=['ABC','PQR','RES']  # List of strings

In [51]:
l5=['Data',  25  ,[50,  100],[150,  90]] #  Nested  Lists i.e list inside list

In [52]:
l6=[100,  'Data',  17.765] #  List  of  mixed  data  types

In [53]:
len(l2) # Number of elements in list

4

![image-2.png](attachment:image-2.png)

## List Indexing and  Slicing

In [54]:
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']

In [55]:
mylist[2]

'three'

In [56]:
mylist[0:3]  #  Return  all  items  from  0th  to  3rd  index  location  excluding  the  item at upper limit

['one', 'two', 'three']

## Add , Remove & Change Items

In [57]:
mylist.append('nine')  #  Add  an  item  to  the  end  of  the  list
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [58]:
mylist.insert(9,'ten')  #  Add  item  at  index  location  9
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [59]:
mylist.extend([1,2,3])  # Add multiple elements at a time at end of list
mylist

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten',
 1,
 2,
 3]

In [60]:
mylist.pop()  # Remove last  element from list

3

In [61]:
mylist.pop(8)  #  Remove  item  at  index  location  8
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'ten', 1, 2]

In [62]:
mylist.remove('one')  #  Remove  item  "ONE" (value)
mylist

['two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'ten', 1, 2]

In [63]:
del  mylist[7]  #  Remove  item  at  index  location  7
mylist

['two', 'three', 'four', 'five', 'six', 'seven', 'eight', 1, 2]

In [64]:
mylist.clear()# Empty List / Delete all items in the list
mylist

[]

In [65]:
del mylist # Delete entire list

In [66]:
mylist

NameError: name 'mylist' is not defined

## Join Lists

In [ ]:
list1 = ['one', 'two', 'three', 'four']
list2 = ['five', 'six', 'seven', 'eight']

In [ ]:
list3 = list1 + list2 # Join two lists by '+' operator
list3

In [ ]:
list1.extend(list2) #Append list2 with list1
list1

## List Membership

In [ ]:
'one' in list1 # Check if 'one' exist in the list

In [ ]:
10 in list1 # Check if 'ten' exist in the list

In [ ]:
if 'three' in list1: # Check if 'three' exist in the list
    print('Three is present in the list')
else:
    print('Three is not present in the list')

## Reverse & Sort List

In [ ]:
list1

In [ ]:
list1.reverse() # Reverse the list
list1

In [ ]:
list1  =  list1[::-1]  #  Reverse  the  list
list1

In [ ]:
mylist3  =  [9,5,2,99,12,88,34]
mylist3.sort()	# Sort list in ascending order
mylist3

In [ ]:
mylist3  =  [9,5,2,99,12,88,34]
mylist3.sort(reverse=True)	#  Sort  list  in  descending  order
mylist3

## All / Any

The all() method returns:

True - If all elements in a list are true
False - If any element in a list is false

The any() function returns True if any element in the list is True.
If not, any() returns False.

In [ ]:
L1  =  [1,2,3,4,0]

In [ ]:
all(L1) # Will Return false as one value is false (Value 0)

In [ ]:
any(L1)	# Will Return True as we have items in the list with
#True value

In [ ]:
L2  =  [1,2,3,4,True,False]

In [ ]:
all(L2) # Returns false as one value is false

In [ ]:
any(L2)	# Will Return True as we have items in the list with True value

## List comprehension

# Tuples

1.	Tuple is similar to List except that the objects in tuple are immutable which means we cannot change the elements of a         tuple once assigned.
2.	When we do not want to change the data over time, tuple is a preferred data type.
3.	Iterating over the elements of a tuple is faster compared to iterating over a list.

# Tuple Creation

In [ ]:
tup1 = ()	# Empty tuple

In [ ]:
tup2  =  (10,30,60)	#  tuple  of  integers  numbers

In [ ]:
tup3 = (10.77,30.66,60.89)	# tuple of float numbers

In [ ]:
tup4 =  ('one','two' , "three")	# tuple of strings

In [ ]:
tup5  =  ('Data',  25  ,(50,  100),(150,  90))	#  Nested  tuples

In [ ]:
tup6  =  (100,  'Data',  17.765)	#  Tuple  of  mixed  data  types

In [ ]:
tup7  =  ('Data',  25  ,[50,  100],[150,  90]  ,  {'John'  ,  'David'}  ,
          (99,22,33))

In [ ]:
len(tup7) #Length of tuple

## Tuple Indexing

In [ ]:
tup2[0]  #  Retreive  first  element  of  the  tuple

In [ ]:
tup7

In [ ]:
tup8=('Data', 25, [50, 100], [150, 90], ['David', 'John'], (99, 22, 33))

In [ ]:
tup8[4][1]  #  Nested  indexing  -  Access  the  first  character  of  the  first  tuple  element

## Tuple Slicing

In [ ]:
mytuple = ('one' , 'two' , 'three' ,
           'four' , 'five' , 'six' , 'seven' , 'eight')

In [ ]:
mytuple[0:3]  #  Return  all  items  from  0th  to
#3rd  index  location  excluding  the  upper limit

## Remove & Change Items

In [ ]:
del  mytuple[0]  #  Tuples  are  immutable  which  means  we  can't  DELETE  tuple  items

In [ ]:
mytuple[0]  =  1  #  Tuples  are  immutable  which  means  we  can't  CHANGE  tuple  items

In [ ]:
del mytuple # Deleting entire tuple object is possible

In [ ]:
mytuple

In [ ]:
tup7.

## Count

In [ ]:
mytuple1  =('one',  'two',  'three',  'four',  'one',
            'one',  'two',  'three')

In [ ]:
mytuple1.count('one') # Number of times item "one"
# occurred in the tuple.

## Tuple Membership

In [ ]:
'one' in mytuple1 # Check if 'one' exist in the tuple

In [ ]:
if 'three' in mytuple1: # Check if 'three' exist in the tuple
    print('Three is present in the tuple')
else:
    print('Three is not present in the tuple')

## Index Position

In [ ]:
mytuple1.index('one') # Index of first element equal to 'one'

In [ ]:
mytuple1

## Sorting

In [ ]:
mytuple2  =  (43,67,99,12,6,90,67)

In [ ]:
sorted(mytuple2)	# Returns a new sorted list and doesn't change original tuple

In [ ]:
sorted(mytuple2, reverse=True) # Sort in descending order

# Sets

1)	Unordered & Unindexed collection of items.

2)	Set elements are unique. Duplicate elements are not allowed.

3)	Set elements are immutable (cannot be changed).

4)	Set itself is mutable. We can add or remove items from it.

## Set Creation

In [ ]:
myset1={} # Empty set cannot be created by curly braces

In [ ]:
type(myset1)

In [ ]:
myset = set() # Create an empty set
print(type(myset))

In [ ]:
myset  =  {1,2,3,4,5}  #  Set  of  numbers
myset

In [ ]:
len(myset) #Length or number of elements of the set

In [ ]:
my_set  =  {1,1,2,2,3,4,5,5}
my_set	# Duplicate elements are not allowed.

In [ ]:
myset1 = {1.79,2.08,3.99,4.56,5.45} # Set of float numbers
myset1

In [ ]:
myset2 = {'Data' , 'John' , 'Tyrion'} # Set of Strings
myset2

In [ ]:
myset3  =  {10,20,  "Hola",  (11,  22,  32)}  #  Mixed  datatypes
myset3

## Set Membership

In [ ]:
myset = {'one', 'two', 'three', 'four', 'five', 'six',
         'seven', 'eight'}

In [ ]:
myset

In [ ]:
'one' in myset # Check if 'one' exist in the set

In [ ]:
if 'three' in myset: # Check if 'three' exist in the set
    print('Three is present in the set')
else:
    print('Three is not present in the set')

## Add & Remove Items

In [ ]:
myset

In [ ]:
myset.add(True)  #  Add  item  to  a  set  using  add()  method
myset
# check with bool and float
# bool data is not inserted

In [ ]:
myset.update(['TEN' , 'ELEVEN' , 'TWELVE'])	# Add multiple item to a set using
myset

In [ ]:
myset.remove('NINE')  #  remove  item  in  a  set  using  remove()  method
myset

In [ ]:
myset.discard('TEN') # remove item from a set using discard() method
myset

In [ ]:
myset.clear() # Delete all items in a set
myset

In [ ]:
del myset # Delete the set object

In [ ]:
myset

## Set Operation

In [ ]:
A  =  {1,2,3,4,5}
B  =  {4,5,6,7,8}
C  =  {8,9,10}

In [ ]:
A | B	# Union of A and B (All elements from both sets.
#NO DUPLICATES)

In [ ]:
A.union(B)  #  Union  of  A  and  B

In [ ]:
B.union(A)

In [ ]:
A.union(B,  C)	#  Union  of  A,  B  and  C.

In [ ]:
A  =  {1,2,3,4,5}
B  =  {4,5,6,7,8}

In [ ]:
A.intersection(B)  #Intersection  of  A  and  B

In [ ]:
A.difference(B)  #  Difference  of set. set of elements that are only in A but not in B

In [ ]:
B.difference(A) #  set  of  elements  that  are  only  in  B  but  not  in  A

# Dictionary

Dictionary is a mutable data type in Python.
A python dictionary is a collection of key and value pairs separated by a colon (:) & enclosed in curly braces {}.
Keys must be unique in a dictionary, duplicate values are allowed

![image.png](attachment:image.png)

## Create Dictionary

In [ ]:
mydict = dict() # empty dictionary
mydict

In [ ]:
type(mydict)

In [ ]:
mydict  =  {1:'one'  ,  2:'two'  ,  3:'three'}  #
#dictionary  with  integer  keys
mydict

In [ ]:
mydict  =  dict({1:'one'  ,  2:'two'  ,  3:'three'})  #  Create  dictionary  using  dict()
mydict

In [ ]:
mydict = {'A':'one' , 'B':'two' , 'C':'three'}
# dictionary with character keys
mydict

In [ ]:
mydict  =  {1:'one'  ,  'A':'two'  ,  3:'three'}
#  dictionary  with  mixed  keys
mydict

In [ ]:
mydict.keys() # Return Dictionary Keys using
# keys() method

In [ ]:
mydict.values() # Return Dictionary Values using
#values() method

In [ ]:
mydict.items() # Access each key-value pair within a dictionary

In [ ]:
mydict  =  {1:'one'  ,  2:'two'  ,
            'A':['Data'  ,  'john'  ,  'Maria']}
#  dictionary  with one value as list
mydict

In [ ]:
mydict['A'][1]

In [ ]:
d={0:{'one':1,'two':2,'three':3,'four':4},
   1:{'city':'bangalore','area':'kudlu'},
   'three':{'city':'mumbai','area':'Dharavi'}} # nested dictonar

In [ ]:
## Access the value kudlu

In [ ]:
v=[0,1,2,3,[8,{5:[67,89,90,
                  {'area':'kudlu','city':'bangalore'}]}]]

In [ ]:
## Access elements from nested dictonary

v[4][1][5][3]['city']

## Add, Remove & Change Items

In [ ]:
mydict1 = {'Name':'Data' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
mydict1

In [ ]:
mydict1['DOB'] = 1992	# Changing Dictionary Items
mydict1['Address'] = 'Delhi'
mydict1

In [ ]:
mydict1['Job'] = 'Analyst' # Adding items in the dictionary
mydict1

In [ ]:
mydict1.pop('Job')  #  Removing  items  in  the  dictionary  using  Pop  method
mydict1

In [ ]:
mydict1.popitem() # A random item is removed

In [ ]:
del[mydict1['ID']] # Removing item using del method
mydict1

In [ ]:
mydict1.clear() # Delete all items of the dictionary using clear method
mydict1

In [ ]:
del mydict1 # Delete the dictionary object
mydict1