![](https://datamites.com/resource/images/final/logo-1.png)

# Introduction

This data set includes descriptions of hypothetical samples corresponding to 23 species of gilled mushrooms in the Agaricus and Lepiota Family. Each species is identified as definitely edible, definitely poisonous, or of unknown edibility and not recommended. This latter class was combined with the poisonous one.

![](https://archive.ics.uci.edu/ml/assets/MLimages/Large73.jpg)

The first column of the dataset signifies the edible or poisonous status of the mushroom and the description of rest of the columns is as
1. cap-shape: bell=b,conical=c,convex=x,flat=f, knobbed=k,sunken=s
2. cap-surface: fibrous=f,grooves=g,scaly=y,smooth=s
3. cap-color: brown=n,buff=b,cinnamon=c,gray=g,green=r, pink=p,purple=u,red=e,white=w,yellow=y
4. bruises?: bruises=t,no=f
5. odor: almond=a,anise=l,creosote=c,fishy=y,foul=f, musty=m,none=n,pungent=p,spicy=s
6. gill-attachment: attached=a,descending=d,free=f,notched=n
7. gill-spacing: close=c,crowded=w,distant=d
8. gill-size: broad=b,narrow=n
9. gill-color: black=k,brown=n,buff=b,chocolate=h,gray=g, green=r,orange=o,pink=p,purple=u,red=e, white=w,yellow=y
10. stalk-shape: enlarging=e,tapering=t
11. stalk-root: bulbous=b,club=c,cup=u,equal=e, rhizomorphs=z,rooted=r,missing=?
12. stalk-surface-above-ring: fibrous=f,scaly=y,silky=k,smooth=s
13. stalk-surface-below-ring: fibrous=f,scaly=y,silky=k,smooth=s
14. stalk-color-above-ring: brown=n,buff=b,cinnamon=c,gray=g,orange=o, pink=p,red=e,white=w,yellow=y
15. stalk-color-below-ring: brown=n,buff=b,cinnamon=c,gray=g,orange=o, pink=p,red=e,white=w,yellow=y
16. veil-type: partial=p,universal=u
17. veil-color: brown=n,orange=o,white=w,yellow=y
18. ring-number: none=n,one=o,two=t
19. ring-type: cobwebby=c,evanescent=e,flaring=f,large=l, none=n,pendant=p,sheathing=s,zone=z
20. spore-print-color: black=k,brown=n,buff=b,chocolate=h,green=r, orange=o,purple=u,white=w,yellow=y
21. population: abundant=a,clustered=c,numerous=n, scattered=s,several=v,solitary=y
22. habitat: grasses=g,leaves=l,meadows=m,paths=p, urban=u,waste=w,woods=d

The dataset being used is available on [UCI datasets](https://archive.ics.uci.edu/ml/datasets/Mushroom)

# Solve the questions in this notebook starting from #1 and then solve the rest sequentially.

# 1
Read the dataset from the url https://archive.ics.uci.edu/ml/machine-learning-databases/mushroom/agaricus-lepiota.data and display the first 5 rows

# 2
Show the first 15 rows of the dataset

# 3
Display the last 5 rows of the dataset

# 4
Display the last 15 rows of the dataset

# 5
Display the column names

# 6
On reading the dataset https://archive.ics.uci.edu/ml/machine-learning-databases/mushroom/agaricus-lepiota.data the first row of the data has become the column names, import the dataset while mitigating this issue

# 7
In the dataset set the column names to 

[cat, cap-shape, cap-surface, cap-color, bruises, odor, gill-attachment, gill-spacing, gill-size, gill-color, stalk-shape, stalk-root, stalk-surface-above-ring, stalk-surface-below-ring, stalk-color-above-ring, stalk-color-below-ring, veil-type, veil-color, ring-number, ring-type, spore-print-color, population, habitat]

# 8
What is the shape of the data

# 9
How many rows are present in this dataset?

# 10
How many columns are present in the dataset?

# 11
What is the size of the dataset?

# 12
Check the datatype of all the columns

# 13
The column cat signifies the class of the mushroom i.e, if it's edible (e) or poisonous (p). How many edible and poisonous mushrooms are in this dataset?

# 14
Select all the musrooms with cap-color of green (g)

# 15
Find the number of mushrooms with habitat of urban (u)

# 16
Find all the unique values in ring-number

# 17
Find the count of all unique values in ring-number

# 18
Select all the musrooms with cap-color of green (g) ot yellow (y)

# 19
Select all the musrooms with cap-color of green (g) and population on abundant (a)

# 20
Select all the musrooms with ring-type of large=l and veil-type partial (p)  and stalk-root of bulbous (b)

# 21
Check the number of missing values in this dataset

# 22
In this dataset, ? is present in stalk-root column signifying missing data, find such rows containing the ?

# 23
Clearly some missing data is present but is represented using ?. Replace ? with NaN

# 24
Check for missing values again, it will be prominent that sometimes missing values are not visible by default and you will need to approach the data accordingly

# 25
Replace missing values with 10000 without making this change permanent

# 26
Replace all the missing values with the mode without making this change permanent

# 27
Replace all the missing values with mode without making this change permanent

# 28
Sort this data is ascending alphabatical order according to cap-color

# 29
Sort this data is descending alphabatical order according to cap-color

# 30
Sort the data first according to cap-shape then cap-surface both ascending

# 31
Sort the data first according to cap-shape then cap-surface then cap-color all ascending

# 32
Sort the data first according to ascending cap-shape then descending cap-surface then ascending cap-color

# 33
If you check the dataset, it does not seem to be in the sorted order, make this change permanent

# 34
Now the indexes seem messed up, try to set indexes starting from zero without adding additional column without making permanent changes to df dataframe

# 35
Now the indexes seem messed up, try to set indexes starting from zero without adding additional column while making permanent changes to df dataframe

# 36
Select the cat column only without using loc or iloc

# 37
Select the cat column and odor column without using iloc or loc

# 39
Select rows from index of 90 to 99 without using iloc or loc

# 40
Select the first 5 rows of the dataset using iloc

# 41
Select rows fron index 100 to 150 using iloc

# 42
Select the last 5 rows using iloc

# 43
Select row index from 100 to 105 and the first five columns using iloc

# 44
Select rows indexes from 90 to 95 and columns starting from cap-color to population

# 45
Select last 5 rows and last 5 columns using iloc

# 46
Select all the rows but only first 2 columns using iloc

# 47
Select all the row indexes divisbile by 10 using iloc between row index of 100 to 200

Hint: Use range as well

# 48
Select rows 100 to 150 using loc

# 49
Select row 110, 125 and 190 using loc

# 50
Select all the musrooms with cat of edible (e) using loc

# 51
Select columns bruised and population using loc

# 52
Select rows 100, 125 and 150 and columns bruised and population using loc

# 53
Select rows 100 to 110 and columns starting from odor to gill-color using loc

# 54
Select first 5 rows and columns from start to odor using loc

# 55
Select all rows and in terms of columns select all columns after ring-number using loc

# 56

Replace p with poisonous in cat column

# 57
Replace e with edible in cat column

# 58
Create a new column called poisonous, with 0 where mushroom is edible and 1 where mushroom is poisonous

# 59
Multiply poisinoious values with 1000 and store the results back in the dataframe

# 60
Delete the poisonous column and make the change permanent

# 61
Transpose the whole dataframe (rotate the dataframe by 90 deg) and store the reslut in dfT vaiable

# 62
Transpose (rotate) dfT back into original df

# 63
Draw a bar plot of the count of edible and poisonous mushroom counts

# 64
Draw a bar plot of the cap-color

Note that brown=n, buff=b, cinnamon=c, gray=g, green=r, pink=p, purple=u, red=e, white=w, yellow=y

# 65
Draw a pie chart for the count of edible and poisonous mushrooms

# 66
Draw a pie chart for population values value count

Note: abundant=a, clustered=c, numerous=n, scattered=s, several=v, solitary=y

# 67
Convert the dataframe into a numpy array

# 68
Put the cat column into y variable and the rest of the comlumns in X

In [1]:
X = df.iloc[:, 1:]
y = df.cat

NameError: name 'df' is not defined

# 69
Create a shallow copy of the dataframe

# 70
Create a deep copy of the dataframe

# 71
Delete the last 5 columns from the df permanently

# 72
Drop the last 8100 rows and make this change permanent

# 73
Save the final dataframe to a file called mushroom_final.csv